@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@font-face {
  src: url("../fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: normal;
}
/* CSS Document */
/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
  word-break: keep-all;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "IBMPlexSansKR-Regular";
  font-weight: 300;
  font-size: 16px;
}

.side_menu_wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  transition: transform 0.15s cubic-bezier(0.2, 0.2, 0.38, 0.9), top 0.11s;
  width: 260px;
  height: 100%;
  z-index: 998;
  color: #212121;
  overflow: hidden;
}
.side_menu_wrapper nav {
  background: #FAFAFA;
  border-right: 1px solid #E2E2E2;
  position: fixed;
  overflow: auto;
}
.side_menu_wrapper nav.left_side {
  display: flex;
  flex-direction: column;
  top: 48px;
  height: 100%;
  width: 260px;
  padding-bottom: 50px;
}
.side_menu_wrapper nav.left_side ul.list_con {
  width: 100%;
  padding: 16px 0;
}
.side_menu_wrapper nav.left_side ul.list_con .acco_active {
  background: #EEEEEE !important;
  color: #0F6BFF !important;
  border-left: 6px solid #0F6BFF;
  font-weight: 600 !important;
}
.side_menu_wrapper nav.left_side ul.list_con .one_menu {
  cursor: pointer;
  height: 32px;
  width: 100%;
  font-size: 14px;
  text-align: left;
  color: #646464;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin: 4px 0 4px 0 !important;
  align-items: center;
}
.side_menu_wrapper nav.left_side ul.list_con .one_menu:hover {
  background: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper nav.left_side ul.list_con .one_menu span {
  pointer-events: none;
}
.side_menu_wrapper nav.left_side ul.list_con .one_menu svg {
  pointer-events: none;
}
.side_menu_wrapper nav.left_side ul.list_con .one_menu a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}
.side_menu_wrapper nav.left_side ul.list_con .side_submenu {
  cursor: pointer;
  height: 32px;
  width: 100%;
  font-size: 14px;
  text-align: left;
  color: #646464;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px !important;
  margin: 4px 0 4px 0 !important;
}
.side_menu_wrapper nav.left_side ul.list_con .side_submenu:hover {
  background: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper nav.left_side ul.list_con .side_submenu span {
  pointer-events: none;
}
.side_menu_wrapper nav.left_side ul.list_con .side_submenu svg {
  pointer-events: none;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item {
  width: 100%;
  height: inherit;
  animation: accordionOpen 0.2s ease-in-out;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item button:hover {
  background-color: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item button.active svg {
  transform: rotate(-180deg);
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item button:focus {
  outline: none;
  border: 1px solid #0F6BFF;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul {
  width: 100%;
  padding: 0 0 16px 0;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 16px;
  display: none;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li {
  cursor: pointer;
  height: inherit;
  width: 100%;
  font-size: 14px;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li:hover {
  background: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li a {
  cursor: pointer;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li a svg {
  width: 18px;
  height: 18px;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li a svg path {
  fill: #757575;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li a:hover {
  color: #212121;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li a:hover svg path {
  fill: #333333;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li a:focus {
  outline: none;
  border: 1px solid #0F6BFF;
}

.side_menu_wrapper_mo {
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  bottom: 0;
  transition: transform 0.15s cubic-bezier(0.2, 0.2, 0.38, 0.9), top 0.11s;
  width: 100%;
  height: 100%;
  z-index: 998;
  color: #212121;
  overflow: hidden;
}
.side_menu_wrapper_mo nav {
  background: #FAFAFA;
  position: fixed;
  overflow: auto;
}
.side_menu_wrapper_mo nav.left_side {
  display: flex;
  flex-direction: column;
  top: 48px;
  height: 100%;
  width: 100%;
}
.side_menu_wrapper_mo nav.left_side .home_con {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px 16px 0 16px;
}
.side_menu_wrapper_mo nav.left_side .home_con .home_item {
  color: #212121;
  height: 48px;
  font-size: 16px;
  justify-content: center;
  display: flex;
  width: 50%;
  padding-bottom: 16px;
}
.side_menu_wrapper_mo nav.left_side .home_con .home_item.active {
  border-bottom: 4px solid #0F6BFF;
  font-weight: 600;
}
.side_menu_wrapper_mo nav.left_side .home_con .home_item a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.side_menu_wrapper_mo nav.left_side .home_con .home_item a span {
  font-size: 18px;
}
.side_menu_wrapper_mo nav.left_side ul.list_con {
  width: 100%;
  padding: 16px 0;
  padding-bottom: 60px;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .one_menu {
  cursor: pointer;
  height: 48px;
  width: 100%;
  font-size: 16px;
  text-align: left;
  color: #646464;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin: 4px 0 4px 0 !important;
  align-items: center;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .one_menu a {
  padding: 0 16px !important;
  width: 100%;
  display: flex;
  align-items: center;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .one_menu:hover {
  background: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .one_menu span {
  pointer-events: none;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .one_menu svg {
  pointer-events: none;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .side_submenu {
  cursor: pointer;
  height: 48px;
  width: 100%;
  font-size: 16px;
  text-align: left;
  color: #646464;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px !important;
  margin: 4px 0 4px 0 !important;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .side_submenu:hover {
  background: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .side_submenu span {
  pointer-events: none;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .side_submenu svg {
  pointer-events: none;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item {
  width: 100%;
  height: inherit;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item button:hover {
  background-color: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item button.active svg {
  transform: rotate(-180deg);
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item ul {
  width: 100%;
  padding: 0 0 16px 0;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 16px;
  display: none;
  animation: accordionOpen 0.2s ease-in-out;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item ul li {
  cursor: pointer;
  height: inherit;
  width: 100%;
  font-size: 16px;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item ul li:hover {
  background: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 16px;
  cursor: pointer;
}

@keyframes accordionOpen {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes accordionClose {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(120px);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translatex(420px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade_right {
  0% {
    opacity: 0;
    transform: translatex(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes change {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -118%, 0);
  }
  35% {
    transform: translate3d(0, -118%, 0);
  }
  50% {
    transform: translate3d(0, -233%, 0);
  }
  60% {
    transform: translate3d(0, -233%, 0);
  }
  75% {
    transform: translate3d(0, -118%, 0);
  }
  85% {
    transform: translate3d(0, -118%, 0);
  }
  95% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes colorPal {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(101%);
  }
  100% {
    transform: scaleX(101%);
  }
}
@keyframes colorNum {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani_opacity {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes background_color {
  0% {
    transform: scaleY(0.9);
  }
  100% {
    transform: none;
  }
}
.gototop {
  width: 52px;
  height: 52px;
  background: rgba(11, 11, 11, 0.7);
  border: none;
  border-radius: 999px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 998;
}
.gototop.show {
  opacity: 1;
}
.gototop svg path {
  fill: white;
}

@keyframes loading {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
@keyframes loading_spin {
  100% {
    transform: rotate(360deg);
  }
}
.before_load .loading {
  opacity: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #FFFFFF;
  opacity: 0;
  transition: 0.5s;
}
.loading .loading_circle {
  width: 54px;
  height: 54px;
  animation: loading_spin 3s infinite;
}
.loading .loading_circle circle {
  stroke: #0F6BFF;
  stroke-width: 4;
  stroke-dasharray: 157;
  stroke-dashoffset: -157;
  fill: none;
  animation: loading 1s infinite;
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .top_title_container {
    padding: 0px 0 20px 0 !important;
  }
  .top_title_container .top_title_con {
    width: 980px !important;
  }
  .content_container {
    padding: 120px 0 20px 0 !important;
    width: 980px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .top_title_container {
    padding: 0px 0 20px 0 !important;
  }
  .top_title_container .top_title_con {
    width: 840px !important;
  }
  .content_container {
    padding: 120px 0 20px 0 !important;
    width: 840px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .bx_main_container {
    margin-left: 0 !important;
  }
  .top_title_container {
    padding: 0px 0 20px 0 !important;
  }
  .top_title_container .top_title_con {
    width: 920px !important;
  }
  .content_container {
    padding: 120px 0 20px 0 !important;
    width: 920px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .bx_main_container {
    margin-left: 0 !important;
  }
  .top_title_container {
    padding: 0px 40px 20px 40px !important;
  }
  .top_title_container .top_title_con {
    width: 100% !important;
  }
  .content_container {
    padding: 120px 40px 20px 40px !important;
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .bx_main_container {
    margin-left: 0 !important;
  }
  .top_title_container {
    padding: 0px 24px 20px 24px !important;
    flex-direction: column;
    align-items: flex-start !important;
  }
  .top_title_container .top_title_con {
    width: 100% !important;
    flex-direction: column;
    align-items: flex-start !important;
  }
  .top_title_container .sub_top_text {
    margin-bottom: 28px !important;
    font-size: 40px !important;
  }
  .content_container {
    padding: 60px 24px 20px 24px !important;
    width: 100% !important;
  }
  .content_container .image_con {
    margin-top: 40px !important;
  }
  .content_container .image_con .image_area {
    padding: 60px 24px !important;
  }
  .content_container .image_con .image_area.goods {
    padding: 0 !important;
  }
  .content_container .image_con .image_area img {
    width: 80% !important;
  }
  .content_container .image_con .image_text_area {
    margin-top: 16px !important;
    margin-bottom: 24px !important;
  }
  .content_container .image_con .top_text_area {
    margin-bottom: 16px !important;
  }
  .content_container .image_con .top_text_area h4 {
    font-size: 18px !important;
  }
  .content_container .image_con .image_area_full img {
    width: 100% !important;
  }
  .content_container .image_con .image_area_full .img_mo {
    display: block !important;
  }
  .content_container .image_con .image_area_full .img_pc {
    display: none !important;
  }
}
.bx_main_container {
  margin-left: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  position: relative;
  background: #FFFFFF;
}
.bx_main_container .desc_text {
  font-size: 16px;
  color: #212121;
  line-height: 1.5;
}
.bx_main_container .top_title_container {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 60px 0;
  width: 100%;
  border-bottom: 1px solid #E2E2E2;
}
.bx_main_container .top_title_container .top_title_con {
  width: 1120px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.bx_main_container .top_title_container .sub_top_text {
  margin: 160px 0 0 0;
  font-size: 60px;
  color: #212121;
}
.bx_main_container .top_title_container .date_updated {
  font-size: 14px;
  color: #757575;
}
.bx_main_container .content_container {
  width: 1120px;
  padding: 120px 0 0 0;
  margin-bottom: 40px;
}
.bx_main_container .content_container .image_con {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.bx_main_container .content_container .image_con .top_text_area {
  margin-bottom: 40px;
}
.bx_main_container .content_container .image_con .top_text_area h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.bx_main_container .content_container .image_con .image_area {
  display: flex;
  width: 100%;
  background: #FAFAFA;
  align-items: center;
  justify-content: center;
  padding: 160px 80px;
  position: relative;
}
.bx_main_container .content_container .image_con .image_area.goods {
  padding: 0;
}
.bx_main_container .content_container .image_con .image_area.dark {
  background: #0B0B0B;
}
.bx_main_container .content_container .image_con .image_area.dark .icon_down {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bx_main_container .content_container .image_con .image_area.dark .icon_down svg path {
  fill: #FFFFFF;
}
.bx_main_container .content_container .image_con .image_area.dark .icon_down:hover {
  background: #444444;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bx_main_container .content_container .image_con .image_area .icon_down {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bx_main_container .content_container .image_con .image_area .icon_down:hover {
  background: #E2E2E2;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bx_main_container .content_container .image_con .image_area img {
  width: 50%;
  height: 50%;
}
.bx_main_container .content_container .image_con .image_area_full {
  display: flex;
  width: 100%;
  background: #FAFAFA;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.bx_main_container .content_container .image_con .image_area_full.blue {
  background: #0067BE;
}
.bx_main_container .content_container .image_con .image_area_full.blue .icon_down {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bx_main_container .content_container .image_con .image_area_full.blue .icon_down svg path {
  fill: #FFFFFF;
}
.bx_main_container .content_container .image_con .image_area_full.blue .icon_down:hover {
  background: #FFFFFF;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bx_main_container .content_container .image_con .image_area_full.blue .icon_down:hover svg path {
  fill: #0067BE;
}
.bx_main_container .content_container .image_con .image_area_full.dark {
  background: #0B0B0B;
}
.bx_main_container .content_container .image_con .image_area_full .img_mo {
  display: none;
}
.bx_main_container .content_container .image_con .image_area_full .img_pc {
  display: block;
}
.bx_main_container .content_container .image_con .image_area_full img {
  width: 70%;
  height: 70%;
}
.bx_main_container .content_container .image_con .image_text_area {
  margin-top: 24px;
  margin-bottom: 40px;
}
.bx_main_container .content_container .image_con .image_text_area:last-child {
  margin-bottom: 20px;
}