/* CSS Document */
/* common */
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  word-break: keep-all;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "IBMPlexSansKR-Regular";
  font-weight: 300;
  font-size: 16px;
}

/* input type="text" */
input {
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  margin: 0;
  padding: 0 0.75rem;
  color: #e2e2e2;
  font-size: 0.875rem;
  font-weight: 300;
  border: 0.0625rem solid #888888;
  border-radius: 0.25rem;
  background: transparent;
  font-family: "IBMPlexSansKR-Regular", sans-serif;
}
input:focus {
  outline: none;
}

input.input_search {
  padding: 0 2.625rem 0 0.75rem;
  background: url("/anyang-tax-web/images/default/icon_search.svg") right 12px center no-repeat transparent;
  background-size: 1.25rem 1.25rem;
}

textarea {
  resize: none;
  width: 100%;
  height: 6.75rem;
  margin: 0;
  padding: 0.375rem 0.75rem;
  color: #e2e2e2;
  font-size: 0.875rem;
  font-weight: 300;
  border: 0.0625rem solid #888888;
  border-radius: 0.25rem;
  background: transparent;
  font-family: "IBMPlexSansKR-Regular", sans-serif;
}

/* select */
select {
  width: 60%;
  height: 34px;
  margin: 0px;
  padding: 0px 40px 0px 8px;
  color: #e2e2e2;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #888888;
  background: transparent;
  border-radius: 4px;
  font-family: "Noto Sans", sans-serif;
  background: url("/anyang-tax-web/images/default/arrow_open.svg") no-repeat 90% 56% !important;
  background-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

select option {
  background: #212121;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  min-height: 3.75rem;
  background: #FFFFFF;
  border-bottom: 1px solid #E2E2E2;
  position: sticky;
}
.header h1 {
  display: flex;
  padding: 0 1rem;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
}
.header h1 img {
  padding: 0 0.75rem 0 0;
}
.header .gnm {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 53.75rem;
  height: 100%;
  color: #e2e2e2;
}
.header .gnm li {
  position: relative;
  flex: 1;
  height: 100%;
  border-bottom: 0.25rem solid #E2E2E2;
  cursor: pointer;
}
.header .gnm li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #e2e2e2;
  font-size: 1.125rem;
  font-weight: 300;
}
.header .gnm li .gnm_sub {
  z-index: 10;
  position: absolute;
  top: 3.75rem;
  overflow: hidden;
  background: #FAFAFA;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  box-shadow: 0px 3px 5px rgb(0, 0, 0);
  display: none;
  flex-direction: column;
  width: 100%;
}
.header .gnm li .gnm_sub li {
  margin: 0;
  padding: 0;
  height: 3.75rem;
  display: flex;
  align-items: center;
  border: 0;
}
.header .gnm li .gnm_sub li a {
  height: 2.875rem;
  margin: 0;
  color: #e2e2e2;
  font-size: 1.125rem;
  font-weight: 300;
  border: none;
}
.header .gnm li .gnm_sub li a:hover {
  color: #5C9AFF;
  font-weight: 600;
  border: none;
}
.header .gnm li:hover {
  border-bottom: 0.25rem solid #5C9AFF;
  transition: 0.2s;
}
.header .gnm li:hover a {
  font-weight: 600;
  color: #5C9AFF;
}
.header .gnm li:active, .header .gnm li.active {
  border-bottom: 0.25rem solid #5C9AFF;
  transition: 0.2s;
}
.header .gnm li:active a, .header .gnm li.active a {
  font-weight: 600;
  color: #5C9AFF;
}
.header .util {
  display: flex;
  height: 100%;
  color: #e2e2e2;
}
.header .util li {
  display: flex;
  justify-content: center;
  grid-gap: 0.5rem;
  width: 7.5rem;
  border-left: 0.0625rem solid #E2E2E2;
}
.header .util li a {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 0.25rem;
  color: #e2e2e2;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #e2e2e2;
  line-height: 1.5rem;
  font-size: 0.875rem;
  cursor: pointer;
}

input[type=checkbox] + label span {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  min-width: 1.25rem;
  min-height: 1.25rem;
  max-width: 1.25rem;
  max-height: 1.25rem;
  margin: 0 0 0 0 !important;
  vertical-align: middle;
  background: url("/anyang-tax-web/images/default/checkbox_defalt.svg") center center no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

input[type=checkbox]:checked + label span {
  background: url("/anyang-tax-web/images/default/checkbox_active.svg") center center no-repeat;
  background-size: 100% 100%;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  display: flex;
  align-items: center;
  grid-gap: 0.25rem;
  padding: 0;
  line-height: 1.5rem;
  color: #e2e2e2;
  font-size: 0.875rem;
  cursor: pointer;
}

input[type=radio] + label span {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  min-width: 1.25rem;
  min-height: 1.25rem;
  max-width: 1.25rem;
  max-height: 1.25rem;
  margin: 0.125rem 0 0 0;
  font-size: 0;
  vertical-align: middle;
  background: url("/anyang-tax-web/images/default/radio_default.svg") no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

input[type=radio]:checked + label span {
  background: url("/anyang-tax-web/images/default/radio_active.svg") no-repeat;
  background-size: 100% 100%;
}

.side_menu_wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  transition: transform 0.15s cubic-bezier(0.2, 0.2, 0.38, 0.9), top 0.11s;
  width: 260px;
  height: 100%;
  z-index: 998;
  color: #212121;
  overflow: hidden;
}
.side_menu_wrapper nav {
  background: #FAFAFA;
  border-right: 1px solid #E2E2E2;
  position: fixed;
  overflow: auto;
}
.side_menu_wrapper nav.left_side {
  display: flex;
  flex-direction: column;
  top: 48px;
  height: 100%;
  width: 260px;
  padding-bottom: 50px;
}
.side_menu_wrapper nav.left_side ul.list_con {
  width: 100%;
  padding: 16px 0;
}
.side_menu_wrapper nav.left_side ul.list_con .acco_active {
  background: #EEEEEE !important;
  color: #0F6BFF !important;
  border-left: 6px solid #0F6BFF;
  font-weight: 600 !important;
}
.side_menu_wrapper nav.left_side ul.list_con .one_menu {
  cursor: pointer;
  height: 32px;
  width: 100%;
  font-size: 14px;
  text-align: left;
  color: #646464;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin: 4px 0 4px 0 !important;
  align-items: center;
}
.side_menu_wrapper nav.left_side ul.list_con .one_menu:hover {
  background: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper nav.left_side ul.list_con .one_menu span {
  pointer-events: none;
}
.side_menu_wrapper nav.left_side ul.list_con .one_menu svg {
  pointer-events: none;
}
.side_menu_wrapper nav.left_side ul.list_con .one_menu a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}
.side_menu_wrapper nav.left_side ul.list_con .side_submenu {
  cursor: pointer;
  height: 32px;
  width: 100%;
  font-size: 14px;
  text-align: left;
  color: #646464;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px !important;
  margin: 4px 0 4px 0 !important;
}
.side_menu_wrapper nav.left_side ul.list_con .side_submenu:hover {
  background: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper nav.left_side ul.list_con .side_submenu span {
  pointer-events: none;
}
.side_menu_wrapper nav.left_side ul.list_con .side_submenu svg {
  pointer-events: none;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item {
  width: 100%;
  height: inherit;
  animation: accordionOpen 0.2s ease-in-out;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item button:hover {
  background-color: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item button.active svg {
  transform: rotate(-180deg);
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item button:focus {
  outline: none;
  border: 1px solid #0F6BFF;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul {
  width: 100%;
  padding: 0 0 16px 0;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 16px;
  display: none;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li {
  cursor: pointer;
  height: inherit;
  width: 100%;
  font-size: 14px;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li:hover {
  background: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li a {
  cursor: pointer;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li a svg {
  width: 18px;
  height: 18px;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li a svg path {
  fill: #757575;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li a:hover {
  color: #212121;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li a:hover svg path {
  fill: #333333;
}
.side_menu_wrapper nav.left_side ul.list_con li.list_con_item ul li a:focus {
  outline: none;
  border: 1px solid #0F6BFF;
}

.side_menu_wrapper_mo {
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  bottom: 0;
  transition: transform 0.15s cubic-bezier(0.2, 0.2, 0.38, 0.9), top 0.11s;
  width: 100%;
  height: 100%;
  z-index: 998;
  color: #212121;
  overflow: hidden;
}
.side_menu_wrapper_mo nav {
  background: #FAFAFA;
  position: fixed;
  overflow: auto;
}
.side_menu_wrapper_mo nav.left_side {
  display: flex;
  flex-direction: column;
  top: 48px;
  height: 100%;
  width: 100%;
}
.side_menu_wrapper_mo nav.left_side .home_con {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px 16px 0 16px;
}
.side_menu_wrapper_mo nav.left_side .home_con .home_item {
  color: #212121;
  height: 48px;
  font-size: 16px;
  justify-content: center;
  display: flex;
  width: 50%;
  padding-bottom: 16px;
}
.side_menu_wrapper_mo nav.left_side .home_con .home_item.active {
  border-bottom: 4px solid #0F6BFF;
  font-weight: 600;
}
.side_menu_wrapper_mo nav.left_side .home_con .home_item a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.side_menu_wrapper_mo nav.left_side .home_con .home_item a span {
  font-size: 18px;
}
.side_menu_wrapper_mo nav.left_side ul.list_con {
  width: 100%;
  padding: 16px 0;
  padding-bottom: 60px;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .one_menu {
  cursor: pointer;
  height: 48px;
  width: 100%;
  font-size: 16px;
  text-align: left;
  color: #646464;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin: 4px 0 4px 0 !important;
  align-items: center;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .one_menu a {
  padding: 0 16px !important;
  width: 100%;
  display: flex;
  align-items: center;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .one_menu:hover {
  background: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .one_menu span {
  pointer-events: none;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .one_menu svg {
  pointer-events: none;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .side_submenu {
  cursor: pointer;
  height: 48px;
  width: 100%;
  font-size: 16px;
  text-align: left;
  color: #646464;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px !important;
  margin: 4px 0 4px 0 !important;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .side_submenu:hover {
  background: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .side_submenu span {
  pointer-events: none;
}
.side_menu_wrapper_mo nav.left_side ul.list_con .side_submenu svg {
  pointer-events: none;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item {
  width: 100%;
  height: inherit;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item button:hover {
  background-color: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item button.active svg {
  transform: rotate(-180deg);
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item ul {
  width: 100%;
  padding: 0 0 16px 0;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 16px;
  display: none;
  animation: accordionOpen 0.2s ease-in-out;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item ul li {
  cursor: pointer;
  height: inherit;
  width: 100%;
  font-size: 16px;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item ul li:hover {
  background: #EEEEEE;
  color: #212121;
}
.side_menu_wrapper_mo nav.left_side ul.list_con li.list_con_item ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 16px;
  cursor: pointer;
}

@keyframes accordionOpen {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes accordionClose {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(120px);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translatex(420px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade_right {
  0% {
    opacity: 0;
    transform: translatex(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes change {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -118%, 0);
  }
  35% {
    transform: translate3d(0, -118%, 0);
  }
  50% {
    transform: translate3d(0, -233%, 0);
  }
  60% {
    transform: translate3d(0, -233%, 0);
  }
  75% {
    transform: translate3d(0, -118%, 0);
  }
  85% {
    transform: translate3d(0, -118%, 0);
  }
  95% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes colorPal {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(101%);
  }
  100% {
    transform: scaleX(101%);
  }
}
@keyframes colorNum {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani_opacity {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes background_color {
  0% {
    transform: scaleY(0.9);
  }
  100% {
    transform: none;
  }
}
.gototop {
  width: 52px;
  height: 52px;
  background: rgba(11, 11, 11, 0.7);
  border: none;
  border-radius: 999px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 997;
}
.gototop.show {
  opacity: 1;
}
.gototop svg path {
  fill: white;
}

@keyframes loading {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
@keyframes loading_spin {
  100% {
    transform: rotate(360deg);
  }
}
.before_load .loading {
  opacity: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #FFFFFF;
  opacity: 0;
  transition: 0.5s;
}
.loading .loading_circle {
  width: 54px;
  height: 54px;
  animation: loading_spin 3s infinite;
}
.loading .loading_circle circle {
  stroke: #0F6BFF;
  stroke-width: 4;
  stroke-dasharray: 157;
  stroke-dashoffset: -157;
  fill: none;
  animation: loading 1s infinite;
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .top_title_container {
    padding: 0px 60px 20px 320px !important;
  }
  .content_container {
    padding: 120px 60px 20px 320px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .top_title_container {
    padding: 0px 60px 20px 320px !important;
  }
  .content_container {
    padding: 120px 60px 20px 320px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .top_title_container {
    padding: 0px 40px 20px 40px !important;
  }
  .content_container {
    padding: 120px 40px 20px 40px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .top_title_container {
    padding: 0px 40px 20px 40px !important;
  }
  .content_container {
    padding: 120px 40px 20px 40px !important;
  }
}
@media (max-width: 767px) {
  .top_title_container {
    padding: 0px 24px 20px 24px !important;
    flex-direction: column;
    align-items: flex-start !important;
  }
  .top_title_container .sub_top_text {
    margin-bottom: 28px !important;
    font-size: 40px !important;
  }
  .content_container {
    padding: 60px 24px 20px 24px !important;
  }
  .content_container .image_con {
    margin-top: 40px !important;
  }
  .content_container .image_con .image_area {
    padding: 60px 24px !important;
  }
  .content_container .image_con .image_area img {
    width: 80% !important;
  }
  .content_container .image_con .image_text_area {
    margin-top: 16px !important;
    margin-bottom: 24px !important;
  }
  .content_container .image_con .top_text_area {
    margin-bottom: 16px !important;
  }
  .content_container .image_con .top_text_area h4 {
    font-size: 18px !important;
  }
  .content_container .image_con .image_area_full img {
    width: 100% !important;
  }
  .content_container .image_con .image_area_full .img_mo {
    display: block !important;
  }
  .content_container .image_con .image_area_full .img_pc {
    display: none !important;
  }
}
.bx_main_container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  position: relative;
  background: #FFFFFF;
}
.bx_main_container .desc_text {
  font-size: 16px;
  color: #212121;
  line-height: 1.5;
}
.bx_main_container .top_title_container {
  background: #FFFFFF;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 116px 60px 380px;
  width: 100%;
  border-bottom: 1px solid #E2E2E2;
}
.bx_main_container .top_title_container .sub_top_text {
  margin: 160px 0 0 0;
  font-size: 60px;
  color: #212121;
}
.bx_main_container .top_title_container .date_updated {
  font-size: 14px;
  color: #757575;
}
.bx_main_container .content_container {
  width: 100%;
  padding: 120px 116px 0 380px;
  margin-bottom: 40px;
}
.bx_main_container .content_container .image_con {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.bx_main_container .content_container .image_con .top_text_area {
  margin-bottom: 40px;
}
.bx_main_container .content_container .image_con .top_text_area h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.bx_main_container .content_container .image_con .image_area {
  display: flex;
  width: 100%;
  background: #FAFAFA;
  align-items: center;
  justify-content: center;
  padding: 160px 80px;
  position: relative;
}
.bx_main_container .content_container .image_con .image_area.dark {
  background: #0B0B0B;
}
.bx_main_container .content_container .image_con .image_area.dark .icon_down {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bx_main_container .content_container .image_con .image_area.dark .icon_down svg path {
  fill: #FFFFFF;
}
.bx_main_container .content_container .image_con .image_area.dark .icon_down:hover {
  background: #444444;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bx_main_container .content_container .image_con .image_area .icon_down {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bx_main_container .content_container .image_con .image_area .icon_down:hover {
  background: #E2E2E2;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bx_main_container .content_container .image_con .image_area img {
  width: 50%;
  height: 50%;
}
.bx_main_container .content_container .image_con .image_area_full {
  display: flex;
  width: 100%;
  background: #FAFAFA;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.bx_main_container .content_container .image_con .image_area_full.blue {
  background: #0067BE;
}
.bx_main_container .content_container .image_con .image_area_full.blue .icon_down {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bx_main_container .content_container .image_con .image_area_full.blue .icon_down svg path {
  fill: #FFFFFF;
}
.bx_main_container .content_container .image_con .image_area_full.blue .icon_down:hover {
  background: #FFFFFF;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bx_main_container .content_container .image_con .image_area_full.blue .icon_down:hover svg path {
  fill: #0067BE;
}
.bx_main_container .content_container .image_con .image_area_full.dark {
  background: #0B0B0B;
}
.bx_main_container .content_container .image_con .image_area_full .img_mo {
  display: none;
}
.bx_main_container .content_container .image_con .image_area_full .img_pc {
  display: block;
}
.bx_main_container .content_container .image_con .image_area_full img {
  width: 70%;
  height: 70%;
}
.bx_main_container .content_container .image_con .image_text_area {
  margin-top: 24px;
  margin-bottom: 40px;
}
.bx_main_container .content_container .image_con .image_text_area:last-child {
  margin-bottom: 20px;
}