@charset "utf-8";

// color system

// grayscale
$white: #FFFFFF;
$gray_0: #FAFAFA;
$gray_5: #EEEEEE;
$gray_10: #E2E2E2;
$gray_20: #C9C9C9;
$gray_30: #B1B1B1;
$gray_40: #9C9C9C;
$gray_50: #888888;
$gray_60: #757575;
$gray_70: #646464;
$gray_80: #545454;
$gray_90: #444444;
$gray_100: #333333;
$gray_110: #212121;
$gray_120: #0B0B0B;
$black: #000000;


// color scale
$danu_blue_60: #0F6BFF;
$danu_blue_30: #85B4FF;
$danu_blue_p: #0067BE;
$sys_green_p: #ADDD9B;
$sys_green_10: #B1F39B;

$red_5: #FDE9E8;
$red_10: #FBDAD5;
$red_20: #F9B8AE;
$red_30: #F5988A;
$red_40: #F47966;
$red_50: #F15037;
$red_60: #E02C10;
$red_70: #C4260E;
$red_80: #A21F0B;
$red_90: #851A0A;
$red_100: #641307;
$red_110: #460F07;
$red_120: #1C0603;

$orange_5: #FBECDA;
$orange_10: #F9DEBE;
$orange_20: #FABE7B;
$orange_30: #F69D37;
$orange_40: #EA820B;
$orange_50: #CD720A;
$orange_60: #AF6108;
$orange_70: #975407;
$orange_80: #7F4606;
$orange_90: #663905;
$orange_100: #4E2B04;
$orange_110: #341E04;
$orange_120: #120B02;

$yellow_5: #FFEFAD;
$yellow_10: #FFE16B;
$yellow_20: #F5C400;
$yellow_30: #DBAF00;
$yellow_40: #BD9700;
$yellow_50: #A88700;
$yellow_60: #8F7200;
$yellow_70: #7A6200;
$yellow_80: #665200;
$yellow_90: #524100;
$yellow_100: #3D3100;
$yellow_110: #292100;
$yellow_120: #140F00;

$green_5: #D1F8C4;
$green_10: #B1F39B;
$green_20: #4DE619;
$green_30: #43CA16;
$green_40: #3CB314;
$green_50: #349C11;
$green_60: #2C850F;
$green_70: #26730D;
$green_80: #20600B;
$green_90: #1C4D0A;
$green_100: #163B07;
$green_110: #0C2504;
$green_120: #050D02;

$cyon_5: #D5F4FB;
$cyon_10: #B4EBF9;
$cyon_20: #6ED8F2;
$cyon_30: #14C0EB;
$cyon_40: #12A9CE;
$cyon_50: #1096B7;
$cyon_60: #0D7F9C;
$cyon_70: #0A6C85;
$cyon_80: #095C71;
$cyon_90: #064B5B;
$cyon_100: #053842;
$cyon_110: #04262F;
$cyon_120: #020F12;

$blue_5: #E5EEFF;
$blue_10: #D1E0FF;
$blue_20: #A8CAFF;
$blue_30: #85B4FF;
$blue_40: #5C9AFF;
$blue_50: #3884FF;
$blue_60: #0F6BFF;
$blue_70: #0058E6;
$blue_80: #004AC2;
$blue_90: #003D9E;
$blue_100: #002F7A;
$blue_110: #001F52;
$blue_120: #000C1F;

$purple_120: #1B0420;
$purple_110: #360656;
$purple_100: #4E067F;
$purple_90: #6609A5;
$purple_80: #7E0BCB;
$purple_70: #930CED;
$purple_60: #A938F5;
$purple_50: #B85AF6;
$purple_40: #C77BF9;
$purple_30: #D39AF9;
$purple_20: #DFB9F9;
$purple_10: #EDDAFB;
$purple_5: #F4E8FD;

