@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@font-face {
  src: url("../fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: normal;
}
/* CSS Document */
/* HTML5 display-role reset for older browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  word-break: keep-all;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "IBMPlexSansKR-Regular";
  font-weight: 300;
  font-size: 16px;
}

@keyframes accordionOpen {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes accordionClose {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(120px);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translatex(420px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade_right {
  0% {
    opacity: 0;
    transform: translatex(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes change {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -118%, 0);
  }
  35% {
    transform: translate3d(0, -118%, 0);
  }
  50% {
    transform: translate3d(0, -233%, 0);
  }
  60% {
    transform: translate3d(0, -233%, 0);
  }
  75% {
    transform: translate3d(0, -118%, 0);
  }
  85% {
    transform: translate3d(0, -118%, 0);
  }
  95% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes colorPal {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(101%);
  }
  100% {
    transform: scaleX(101%);
  }
}
@keyframes colorNum {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani_opacity {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes background_color {
  0% {
    transform: scaleY(0.9);
  }
  100% {
    transform: none;
  }
}
@keyframes loading {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
@keyframes loading_spin {
  100% {
    transform: rotate(360deg);
  }
}
.before_load .loading {
  opacity: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #FFFFFF;
  opacity: 0;
  transition: 0.5s;
}
.loading .loading_circle {
  width: 54px;
  height: 54px;
  animation: loading_spin 3s infinite;
}
.loading .loading_circle circle {
  stroke: #0F6BFF;
  stroke-width: 4;
  stroke-dasharray: 157;
  stroke-dashoffset: -157;
  fill: none;
  animation: loading 1s infinite;
}

@font-face {
  src: url("../fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url("../fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: normal;
}
/* CSS Document */
/* HTML5 display-role reset for older browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  word-break: keep-all;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "IBMPlexSansKR-Regular";
  font-weight: 300;
  font-size: 16px;
}

@keyframes accordionOpen {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes accordionClose {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(120px);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translatex(420px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade_right {
  0% {
    opacity: 0;
    transform: translatex(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes change {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -118%, 0);
  }
  35% {
    transform: translate3d(0, -118%, 0);
  }
  50% {
    transform: translate3d(0, -233%, 0);
  }
  60% {
    transform: translate3d(0, -233%, 0);
  }
  75% {
    transform: translate3d(0, -118%, 0);
  }
  85% {
    transform: translate3d(0, -118%, 0);
  }
  95% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes colorPal {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(101%);
  }
  100% {
    transform: scaleX(101%);
  }
}
@keyframes colorNum {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani_opacity {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes background_color {
  0% {
    transform: scaleY(0.9);
  }
  100% {
    transform: none;
  }
}
@keyframes loading {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
@keyframes loading_spin {
  100% {
    transform: rotate(360deg);
  }
}
.before_load .loading {
  opacity: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #FFFFFF;
  opacity: 0;
  transition: 0.5s;
}
.loading .loading_circle {
  width: 54px;
  height: 54px;
  animation: loading_spin 3s infinite;
}
.loading .loading_circle circle {
  stroke: #0F6BFF;
  stroke-width: 4;
  stroke-dasharray: 157;
  stroke-dashoffset: -157;
  fill: none;
  animation: loading 1s infinite;
}

@font-face {
  src: url("../fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: normal;
}
.radio_button_wrapper_horizontal_dark, .radio_button_wrapper_horizontal {
  display: flex;
  margin-right: 16px;
  position: relative;
}
.radio_button_wrapper_horizontal_dark:last-child, .radio_button_wrapper_horizontal:last-child {
  margin-right: 0;
}

.radio_button_wrapper_vertical_dark, .radio_button_wrapper_vertical {
  display: flex;
  margin-bottom: 8px;
  position: relative;
}
.radio_button_wrapper_vertical_dark:last-child, .radio_button_wrapper_vertical:last-child {
  margin-bottom: 0;
}

.radio_button_wrapper_vertical_dark.with_error, .radio_button_wrapper_vertical.with_error, .radio_button_wrapper_horizontal_dark.with_error, .radio_button_wrapper_horizontal.with_error {
  width: 150px;
}
.radio_button_wrapper_vertical_dark.with_error input[type=radio]:checked + label .radio_button_appearance, .radio_button_wrapper_vertical.with_error input[type=radio]:checked + label .radio_button_appearance, .radio_button_wrapper_horizontal_dark.with_error input[type=radio]:checked + label .radio_button_appearance, .radio_button_wrapper_horizontal.with_error input[type=radio]:checked + label .radio_button_appearance {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_vertical_dark.with_error input[type=radio]:checked + label .radio_button_appearance::before, .radio_button_wrapper_vertical.with_error input[type=radio]:checked + label .radio_button_appearance::before, .radio_button_wrapper_horizontal_dark.with_error input[type=radio]:checked + label .radio_button_appearance::before, .radio_button_wrapper_horizontal.with_error input[type=radio]:checked + label .radio_button_appearance::before {
  background-color: #E02C10;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical_dark.with_error .radio_button_label .radio_button_appearance, .radio_button_wrapper_vertical.with_error .radio_button_label .radio_button_appearance, .radio_button_wrapper_horizontal_dark.with_error .radio_button_label .radio_button_appearance, .radio_button_wrapper_horizontal.with_error .radio_button_label .radio_button_appearance {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_vertical_dark.with_error .error_message, .radio_button_wrapper_vertical.with_error .error_message, .radio_button_wrapper_horizontal_dark.with_error .error_message, .radio_button_wrapper_horizontal.with_error .error_message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 22px;
}
.radio_button_wrapper_vertical_dark.with_error .error_message svg, .radio_button_wrapper_vertical.with_error .error_message svg, .radio_button_wrapper_horizontal_dark.with_error .error_message svg, .radio_button_wrapper_horizontal.with_error .error_message svg {
  margin-right: 8px;
  min-width: 18px;
  max-width: 18px;
}
.radio_button_wrapper_vertical_dark.with_error .error_message span, .radio_button_wrapper_vertical.with_error .error_message span, .radio_button_wrapper_horizontal_dark.with_error .error_message span, .radio_button_wrapper_horizontal.with_error .error_message span {
  color: #E02C10;
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
}

.radio_button_group_horizontal_dark, .radio_button_group_horizontal {
  align-items: center;
  border: 0;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  position: relative;
  vertical-align: baseline;
  padding: 0;
}

.radio_button_group_vertical_dark, .radio_button_group_vertical {
  align-items: flex-start;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  vertical-align: baseline;
  padding: 0;
}

.radio_button_group_horizontal .radio_group_label {
  display: inline-block;
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
  margin-bottom: 8px;
  vertical-align: baseline;
  color: #333333;
}

.radio_button_group_horizontal_dark .radio_group_label {
  display: inline-block;
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
  margin-bottom: 8px;
  vertical-align: baseline;
  color: #C9C9C9;
}

.radio_button_group_vertical .radio_group_label {
  display: inline-block;
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
  margin-bottom: 8px;
  vertical-align: baseline;
  color: #333333;
}

.radio_button_group_vertical_dark .radio_group_label {
  display: inline-block;
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
  margin-bottom: 8px;
  vertical-align: baseline;
  color: #C9C9C9;
}

.radio_button_wrapper_horizontal input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  visibility: inherit;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}
.radio_button_wrapper_horizontal input[type=radio]:focus-visible + label .radio_button_appearance {
  outline-offset: max(2px, 0.12em);
  outline: 1px solid #0F6BFF;
}
.radio_button_wrapper_horizontal input[type=radio]:checked + label .radio_button_appearance {
  border: 2px solid #0F6BFF;
}
.radio_button_wrapper_horizontal input[type=radio]:checked + label .radio_button_appearance::before {
  background-color: #0F6BFF;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_horizontal input[type=radio]:disabled + label .radio_button_appearance {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_horizontal input[type=radio]:disabled + label .radio_button_label_text {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_horizontal input[type=radio].read_only + label .radio_button_appearance {
  border: 2px solid #757575;
  cursor: auto;
}
.radio_button_wrapper_horizontal input[type=radio].read_only + label .radio_button_appearance::before {
  background-color: #545454;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_horizontal input[type=radio].error {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_horizontal input[type=radio].error:checked + label .radio_button_appearance {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_horizontal input[type=radio].error:checked + label .radio_button_appearance::before {
  background-color: #E02C10;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_horizontal .radio_button_label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.radio_button_wrapper_horizontal .radio_button_label .radio_button_appearance {
  background-color: transparent;
  border: 2px solid #545454;
  border-radius: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
}
.radio_button_wrapper_horizontal .radio_button_label .radio_button_label_text {
  font-size: 14px;
  color: #212121;
  margin-left: 8px;
}
.radio_button_wrapper_horizontal .radio_button_label .radio_button_label_text:disabled {
  opacity: 0.35;
}

.radio_button_wrapper_horizontal_dark input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  visibility: inherit;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}
.radio_button_wrapper_horizontal_dark input[type=radio]:focus-visible + label .radio_button_appearance {
  outline-offset: max(2px, 0.12em);
  outline: 1px solid white;
}
.radio_button_wrapper_horizontal_dark input[type=radio]:checked + label .radio_button_appearance {
  border: 2px solid #0F6BFF;
}
.radio_button_wrapper_horizontal_dark input[type=radio]:checked + label .radio_button_appearance::before {
  background-color: #0F6BFF;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_horizontal_dark input[type=radio]:disabled + label .radio_button_appearance {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_horizontal_dark input[type=radio]:disabled + label .radio_button_label_text {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_horizontal_dark input[type=radio].read_only + label .radio_button_appearance {
  border: 2px solid #888888;
  cursor: auto;
}
.radio_button_wrapper_horizontal_dark input[type=radio].read_only + label .radio_button_appearance::before {
  background-color: #B1B1B1;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_horizontal_dark input[type=radio].error + label .radio_button_appearance {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_horizontal_dark input[type=radio].error + label .radio_button_appearance::before {
  background-color: #E02C10;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_horizontal_dark .radio_button_label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.radio_button_wrapper_horizontal_dark .radio_button_label .radio_button_appearance {
  background-color: transparent;
  border: 2px solid #B1B1B1;
  border-radius: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
}
.radio_button_wrapper_horizontal_dark .radio_button_label .radio_button_label_text {
  font-size: 14px;
  color: #E2E2E2;
  margin-left: 8px;
}
.radio_button_wrapper_horizontal_dark .radio_button_label .radio_button_label_text:disabled {
  opacity: 0.35;
}

.radio_button_wrapper_vertical input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  visibility: inherit;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}
.radio_button_wrapper_vertical input[type=radio]:focus-visible + label .radio_button_appearance {
  outline-offset: max(2px, 0.12em);
  outline: 1px solid #0F6BFF;
}
.radio_button_wrapper_vertical input[type=radio]:checked + label .radio_button_appearance {
  border: 2px solid #0F6BFF;
}
.radio_button_wrapper_vertical input[type=radio]:checked + label .radio_button_appearance::before {
  background-color: #0F6BFF;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical input[type=radio]:disabled + label .radio_button_appearance {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_vertical input[type=radio]:disabled + label .radio_button_label_text {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_vertical input[type=radio].read_only + label .radio_button_appearance {
  border: 2px solid #757575;
  cursor: auto;
}
.radio_button_wrapper_vertical input[type=radio].read_only + label .radio_button_appearance::before {
  background-color: #545454;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical input[type=radio].error {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_vertical input[type=radio].error:checked + label .radio_button_appearance {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_vertical input[type=radio].error:checked + label .radio_button_appearance::before {
  background-color: #E02C10;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical .radio_button_label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.radio_button_wrapper_vertical .radio_button_label .radio_button_appearance {
  background-color: transparent;
  border: 2px solid #545454;
  border-radius: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
}
.radio_button_wrapper_vertical .radio_button_label .radio_button_label_text {
  font-size: 14px;
  color: #212121;
  margin-left: 8px;
}
.radio_button_wrapper_vertical .radio_button_label .radio_button_label_text:disabled {
  opacity: 0.35;
}

.radio_button_wrapper_vertical_dark input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  visibility: inherit;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}
.radio_button_wrapper_vertical_dark input[type=radio]:focus-visible + label .radio_button_appearance {
  outline-offset: max(2px, 0.12em);
  outline: 1px solid white;
}
.radio_button_wrapper_vertical_dark input[type=radio]:checked + label .radio_button_appearance {
  border: 2px solid #0F6BFF;
}
.radio_button_wrapper_vertical_dark input[type=radio]:checked + label .radio_button_appearance::before {
  background-color: #0F6BFF;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical_dark input[type=radio]:disabled + label .radio_button_appearance {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_vertical_dark input[type=radio]:disabled + label .radio_button_label_text {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_vertical_dark input[type=radio].read_only + label .radio_button_appearance {
  border: 2px solid #888888;
  cursor: auto;
}
.radio_button_wrapper_vertical_dark input[type=radio].read_only + label .radio_button_appearance::before {
  background-color: #B1B1B1;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical_dark input[type=radio].error + label .radio_button_appearance {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_vertical_dark input[type=radio].error + label .radio_button_appearance::before {
  background-color: #E02C10;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical_dark .radio_button_label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.radio_button_wrapper_vertical_dark .radio_button_label .radio_button_appearance {
  background-color: transparent;
  border: 2px solid #B1B1B1;
  border-radius: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
}
.radio_button_wrapper_vertical_dark .radio_button_label .radio_button_label_text {
  font-size: 14px;
  color: #E2E2E2;
  margin-left: 8px;
}
.radio_button_wrapper_vertical_dark .radio_button_label .radio_button_label_text:disabled {
  opacity: 0.35;
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .image_container .image_con .image_area .image_item {
    width: 70% !important;
  }
  .do_donot_con .do_donot_area .do_donot_list .do_donot_item img {
    width: 100% !important;
  }
  .config_sel_con {
    width: 25% !important;
  }
  .them_container .them_con .them_area_dark {
    width: 50% !important;
    padding: 80px 80px !important;
  }
  .them_container .them_con .them_area_light {
    width: 50% !important;
    padding: 80px 80px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .image_container .image_con .image_area .image_item {
    width: 90% !important;
  }
  .do_donot_con .do_donot_area .do_donot_list .do_donot_item img {
    width: 100% !important;
  }
  .config_sel_con {
    width: 28% !important;
  }
  .them_container .them_con .them_area_dark {
    width: 50% !important;
    padding: 60px 60px !important;
  }
  .them_container .them_con .them_area_light {
    width: 50% !important;
    padding: 60px 60px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .image_container .image_con .image_area .image_item {
    width: 90% !important;
  }
  .do_donot_con .do_donot_area .do_donot_list .do_donot_item img {
    width: 100% !important;
  }
  .config_sel_con {
    width: 28% !important;
  }
  .them_container .them_con .them_area_dark {
    width: 50% !important;
    padding: 60px 60px !important;
  }
  .them_container .them_con .them_area_light {
    width: 50% !important;
    padding: 60px 60px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .image_container .image_con .image_area .image_item {
    width: 90% !important;
  }
  .do_donot_con .do_donot_area .do_donot_list .do_donot_item img {
    width: 100% !important;
  }
  .do_donot_con .do_donot_area .do_donot_list .do_donot_item p {
    width: 88%;
  }
  .config_sel_con {
    width: 35% !important;
  }
  .them_container .them_con .them_area_dark {
    width: 50% !important;
    padding: 60px 40px !important;
  }
  .them_container .them_con .them_area_light {
    width: 50% !important;
    padding: 60px 40px !important;
  }
  .tag_group {
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
  }
  .tag_group div {
    margin-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .tag_group {
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
  }
  .tag_group div {
    margin-bottom: 8px;
  }
  .image_container .image_con .image_area {
    padding: 60px 0 !important;
    flex-direction: column;
  }
  .image_container .image_con .image_area .image_item {
    width: 90% !important;
  }
  .do_donot_con .do_donot_area .do_donot_list {
    flex-direction: column;
  }
  .do_donot_con .do_donot_area .do_donot_list .do_donot_item {
    width: 100% !important;
    margin-bottom: 28px;
  }
  .do_donot_con .do_donot_area .do_donot_list .do_donot_item:last-child {
    margin-bottom: 0 !important;
  }
  .do_donot_con .do_donot_area .do_donot_list .do_donot_item img {
    width: 100% !important;
  }
  .them_container .them_con {
    flex-direction: column;
  }
  .them_container .them_con .them_area_ul {
    display: flex;
    flex-direction: column;
  }
  .them_container .them_con .them_area_ul .them_item {
    margin-right: 0 !important;
    margin-bottom: 24px;
  }
  .them_container .them_con .them_area_ul .them_item:last-child {
    margin-bottom: 0 !important;
  }
  .them_container .them_con .them_area_dark {
    width: 100% !important;
    padding: 40px 24px !important;
  }
  .them_container .them_con .them_area_light {
    width: 100% !important;
    padding: 40px 24px !important;
  }
  .config_sel_con {
    width: 40% !important;
    height: 100% !important;
    display: none;
    z-index: 100;
    position: absolute !important;
    top: 0;
    right: 0;
  }
  .accodion_btn {
    display: flex !important;
  }
  .accodion_btn_cancel {
    display: flex !important;
  }
  .token_sets_con .token_sets_area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #FFFFFF;
    padding: 24px !important;
    font-size: 14px;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .token_sets_con .token_sets_area .list_title_con {
    display: flex;
    width: 100%;
  }
  .token_sets_con .token_sets_area .list_title_con .list_title_item {
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 16px;
    display: flex;
    align-items: center;
  }
  .token_sets_con .token_sets_area .list_title_con .list_title_item:last-child {
    border-right: 1px solid #EEEEEE;
  }
  .token_sets_con .token_sets_area .list_title_con .list_title_item .list_title_text {
    font-weight: 600;
    line-height: 1.3;
  }
  .token_sets_con .token_sets_area .list_text_con {
    display: flex;
    width: 100%;
  }
  .token_sets_con .token_sets_area .list_text_con .list_text_item {
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 16px;
    display: flex;
    align-items: center;
  }
  .token_sets_con .token_sets_area .list_text_con .list_text_item:last-child {
    border-right: 1px solid #EEEEEE;
  }
  .token_sets_con .token_sets_area .list_text_con .list_text_item .list_text_text {
    font-weight: 300;
    line-height: 1.3;
  }
  .token_sets_con .token_sets_area .list_text_con .list_text_item .list_text_token {
    background: #EEEEEE;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 1.3;
  }
  .buttons_area .buttons_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px !important;
  }
  .buttons_area .buttons_item button {
    margin-bottom: 8px;
    margin-right: 0 !important;
  }
  .buttons_area .buttons_item button:last-child {
    margin-bottom: 0 !important;
  }
}
.accodion_btn {
  width: 44px;
  height: 44px;
  background: #FFFFFF;
  border-radius: 0 0 0 4px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  display: none;
  align-items: center;
  justify-content: center;
}
.accodion_btn svg {
  pointer-events: none;
  transform: rotate(-90deg);
  cursor: pointer;
}
.accodion_btn svg path {
  fill: #444444;
}

.accodion_btn_cancel {
  width: 44px;
  height: 44px;
  background: #FFFFFF;
  border-radius: 0 0 0 4px;
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}
.accodion_btn_cancel svg {
  pointer-events: none;
  transform: rotate(90deg);
  cursor: pointer;
}
.accodion_btn_cancel svg path {
  fill: #757575;
}

.config_container {
  width: 100%;
  margin-top: 40px;
}
.config_container .config_con {
  width: 100%;
  display: flex;
  position: relative;
}
.config_container .config_con .config_area {
  width: 100%;
  height: 500px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.config_container .config_con .config_area .dark_mode_area {
  background: #212121;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.config_container .config_con .config_sel_con {
  width: 20%;
  height: 500px;
  overflow: hidden;
  background: white;
  border-left: 1px solid #E2E2E2;
  position: relative;
  padding-top: 20px;
}
.config_container .config_con .config_sel_con .config_sel_area {
  border-bottom: 1px solid #E2E2E2;
  padding: 24px 16px;
}

.code_container {
  width: 100%;
}
.code_container .code_con {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #212121;
  color: #B1B1B1;
  padding: 24px 24px;
}
.code_container .code_con .code_tab_con {
  display: flex;
  width: 100%;
}
.code_container .code_con .code_tab_con .code_tab_area {
  display: flex;
}
.code_container .code_con .code_tab_con .code_tab_area .code_tab_item {
  font-family: "IBM Plex Sans";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.016rem;
  padding: 0 16px 16px 16px;
  border-bottom: 2px solid #212121;
  cursor: pointer;
}
.code_container .code_con .code_tab_con .code_tab_area .code_tab_item.active {
  font-weight: 700;
  color: #E2E2E2;
  border-bottom: 2px solid #0F6BFF;
}
.code_container .code_con .code_tab_con .code_tab_area .code_tab_item span {
  pointer-events: none;
}
.code_container .code_con .code_source_container {
  padding: 24px 0;
  width: 100%;
}
.code_container .code_con .code_source_container .code_source_con {
  width: 100%;
  overflow-x: auto;
}
.code_container .code_con .code_source_container .code_source_con pre.priview_code {
  display: flex;
  flex-direction: column;
}
.code_container .code_con .code_source_container .code_source_con pre.priview_code:focus {
  outline: none;
}
.code_container .code_con .code_source_container .code_source_con pre.priview_code .token_line {
  display: flex;
  color: #FFFFFF;
}
.code_container .code_con .code_source_container .code_source_con pre.priview_code .token_line .token {
  font-family: "IBM Plex Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.016rem;
  color: #E2E2E2;
}
.code_container .code_con .code_source_container .code_source_con pre.priview_code .token_line .token.tag {
  color: #B1B1B1;
}
.code_container .code_con .code_source_container .code_source_con pre.priview_code .token_line .token.name {
  color: #5C9AFF;
}
.code_container .code_con .code_source_container .code_source_con pre.priview_code .token_line .token.class {
  color: #6ED8F2;
}
.code_container .code_con .code_source_container .code_source_con pre.priview_code .token_line .token.class_name {
  color: #F69D37;
}
.code_container .code_con .code_source_container .code_source_con pre.priview_code .token_line .token.pink {
  color: #C4260E;
}
.code_container .code_con .code_source_container .code_source_con pre.priview_code .token_line .token.class_list {
  color: #F5C400;
}

.image_container {
  width: 100%;
  margin-top: 40px;
}
.image_container .image_con {
  width: 100%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_container .image_con .image_area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px;
}
.image_container .image_con .image_area .image_item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_container .image_con .image_area .image_item:last-child {
  margin-right: 0;
}
.image_container .image_con .image_area .image_item img {
  width: 100%;
}
.image_container .disc_con {
  margin-top: 24px;
}
.image_container .disc_con .disc_style {
  font-family: "IBM Plex Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0;
}

.do_donot_con {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.do_donot_con .do_donot_area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.do_donot_con .do_donot_area .do_donot_list {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
}
.do_donot_con .do_donot_area .do_donot_list:last-child {
  margin-bottom: 0;
}
.do_donot_con .do_donot_area .do_donot_list li {
  margin-right: 16px;
}
.do_donot_con .do_donot_area .do_donot_list li:last-child {
  margin-right: 0;
}
.do_donot_con .do_donot_area .do_donot_list .donot_item {
  border-top: 8px solid #F15037 !important;
}
.do_donot_con .do_donot_area .do_donot_list .do_donot_item {
  width: 50%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 8px solid #43CA16;
  position: relative;
  flex-direction: column;
  padding: 60px 0;
}
.do_donot_con .do_donot_area .do_donot_list .do_donot_item .available_con {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  background: #43CA16;
  display: flex;
  align-items: center;
  justify-content: center;
}
.do_donot_con .do_donot_area .do_donot_list .do_donot_item .donot_con {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  background: #F15037;
  display: flex;
  align-items: center;
  justify-content: center;
}
.do_donot_con .do_donot_area .do_donot_list .do_donot_item img {
  width: 80%;
  background-size: contain;
}
.do_donot_con .do_donot_area .do_donot_list .do_donot_item p {
  margin-top: 20px;
  text-align: center;
  line-height: 1.4;
}

.them_container {
  width: 100%;
}
.them_container .them_con {
  width: 100%;
  display: flex;
}
.them_container .them_con.direction_col {
  flex-direction: column;
}
.them_container .them_con .them_area_ul {
  display: flex;
}
.them_container .them_con .them_area_ul .them_item {
  margin-right: 16px;
}
.them_container .them_con .them_area_ul .them_item:last-child {
  margin-right: 0;
}
.them_container .them_con .them_area_dark {
  background: #0B0B0B;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 120px;
}
.them_container .them_con .them_area_dark.full {
  width: 100% !important;
}
.them_container .them_con .them_area_dark img {
  width: 100%;
}
.them_container .them_con .them_area_light {
  padding: 120px;
  width: 50%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.them_container .them_con .them_area_light.full {
  width: 100% !important;
}
.them_container .them_con .them_area_light img {
  width: 100%;
}

.token_sets_con .token_sets_area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #FFFFFF;
  padding: 60px;
  font-size: 14px;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 40px;
}
.token_sets_con .token_sets_area .list_title_con {
  display: flex;
  width: 100%;
}
.token_sets_con .token_sets_area .list_title_con .list_title_item {
  border-top: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 16px;
  width: 33.3%;
  display: flex;
  align-items: center;
}
.token_sets_con .token_sets_area .list_title_con .list_title_item:last-child {
  border-right: 1px solid #EEEEEE;
}
.token_sets_con .token_sets_area .list_title_con .list_title_item .list_title_text {
  font-weight: 600;
  line-height: 1.3;
}
.token_sets_con .token_sets_area .list_text_con {
  display: flex;
  width: 100%;
}
.token_sets_con .token_sets_area .list_text_con .list_text_item {
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 16px;
  width: 33.3%;
  display: flex;
  align-items: center;
}
.token_sets_con .token_sets_area .list_text_con .list_text_item:last-child {
  border-right: 1px solid #EEEEEE;
}
.token_sets_con .token_sets_area .list_text_con .list_text_item .list_text_text {
  font-weight: 300;
  line-height: 1.3;
}
.token_sets_con .token_sets_area .list_text_con .list_text_item .list_text_token {
  background: #EEEEEE;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 1.3;
}

.buttons_area {
  display: flex;
  flex-direction: column;
}
.buttons_area .buttons_item {
  display: flex;
  margin-bottom: 8px;
}
.buttons_area .buttons_item:last-child {
  margin-bottom: 0 !important;
}
.buttons_area .buttons_item button {
  margin-right: 8px;
}
.buttons_area .buttons_item button:last-child {
  margin-right: 0 !important;
}

.image_container_saper {
  width: 100%;
  margin-top: 40px;
}
.image_container_saper .image_con_saper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_container_saper .image_con_saper.margintop {
  margin-top: 8px;
}
.image_container_saper .image_con_saper.margintop ul li {
  width: 50%;
}
.image_container_saper .image_con_saper.margintop ul li img {
  width: 80%;
}
.image_container_saper .image_con_saper .image_area_saper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
}
.image_container_saper .image_con_saper .image_area_saper .image_item_saper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  padding: 120px;
  margin-right: 8px;
  border-right: 8px solid #EEEEEE;
}
.image_container_saper .image_con_saper .image_area_saper .image_item_saper:last-child {
  margin-right: 0;
  border-right: 0;
}
.image_container_saper .image_con_saper .image_area_saper .image_item_saper img {
  width: 100%;
}
.image_container_saper .disc_con {
  margin-top: 24px;
}
.image_container_saper .disc_con .disc_style {
  font-family: "IBM Plex Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0;
}