@charset "utf-8";

@import "reset";
@import "space_shadow";
@import "typography";
@import "color";

@import "radioButton";



@media (min-width: 1400px) and (max-width: 1600px) {

    .image_container {

        .image_con {

            .image_area {

                .image_item {

                    width: 70% !important;

                    img{

                    }
                }
            }
        }
    }

    .do_donot_con {

        .do_donot_area {

            .do_donot_list {

                .do_donot_item {

                    img {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {

    .image_container {

        .image_con {

            .image_area {

                .image_item {

                    width: 90% !important;

                    img{

                    }
                }
            }
        }
    }

    .do_donot_con {

        .do_donot_area {

            .do_donot_list {

                .do_donot_item {

                    img {
                        width: 100% !important;
                    }
                }
            }
        }
    }

}

@media (min-width: 1024px) and (max-width: 1199px) {

    .image_container {

        .image_con {

            .image_area {

                .image_item {

                    width: 90% !important;

                    img{

                    }
                }
            }
        }
    }

    .do_donot_con {

        .do_donot_area {

            .do_donot_list {

                .do_donot_item {

                    img {
                        width: 100% !important;
                    }
                }
            }
        }
    }

}

@media (min-width: 768px) and (max-width: 1023px) {

    .image_container {

        .image_con {

            .image_area {

                .image_item {

                    width: 90% !important;

                    img{

                    }
                }
            }
        }
    }

    .do_donot_con {

        .do_donot_area {

            .do_donot_list {

                .do_donot_item {

                    img {
                        width: 100% !important;
                    }
                }
            }
        }
    }

}

@media (max-width: 767px) {

    .image_container {

        .image_con {

            .image_area {
                padding: 60px 0 !important;
                flex-direction: column;

                .image_item {

                    width: 90% !important;

                    img{

                    }
                }
            }
        }
    }

    .do_donot_con {

        .do_donot_area {

            .do_donot_list {
                flex-direction: column;

                .do_donot_item {
                    width: 100% !important;
                    margin-bottom: 28px;

                    &:last-child {
                        margin-bottom: 0 !important;
                    }

                    img {
                        width: 100% !important;
                    }
                }
            }
        }
    }

    .them_container {

        .them_con {
            flex-direction: column;

            .them_area_dark {
                width: 100% !important;
                padding: 40px 24px !important;
            }

            .them_area_light {
                width: 100% !important;
                padding: 40px 24px !important;
            }
        }
    }

    .config_area {
        height: 380px !important;
    }

    .config_sel_con {
        width: 40% !important;
        display: none;
        z-index: 100;
    }

    .accodion_btn {
        display: flex !important;

    }

    .accodion_btn_cancel {
        display: flex !important;

    }

}









.accodion_btn {
    width: 44px;
    height: 44px;
    background: $white;
    border-radius: 0 0 0 4px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;

    svg {
        pointer-events: none;
        transform: rotate(-90deg);
        cursor: pointer;
        path {
            fill: $gray_110;
        }
    }
}

.accodion_btn_cancel {
    width: 44px;
    height: 44px;
    background: $white;
    border-radius: 0 0 0 4px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;

    svg {
        pointer-events: none;
        transform: rotate(90deg);
        cursor: pointer;
        path {
            fill: $gray_110;
        }
    }
}


.config_container {
    width: 100%;
    margin-top: 40px;

    .config_con {
        width: 100%;
        display: flex;
        position: relative;

        .config_area {
            width: 100%;
            height: 500px;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $space-8;

            .dark_mode_area {
                background: $gray_110;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .config_sel_con {
            width: 20%;
            height: 100%;
            overflow: hidden;
            background: white;
            border-left: 1px solid $gray_10;
            position: absolute;
            right: 0;
            top: 0;
            padding-top: 20px;

            .config_sel_area {
                border-bottom: 1px solid $gray_10;
                padding: 24px 16px;
            }
        }
    }
}

.code_container {
    width: 100%;

    .code_con {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: $gray_110;
        color: $gray_30;
        padding: $space_24 $space_24;

        .code_tab_con {
            display: flex;
            width: 100%;

            .code_tab_area {
                display: flex;

                .code_tab_item {
                    @include label_02;
                    padding: 0 $space_16 $space_16 $space_16;
                    border-bottom: 2px solid $gray_110;
                    cursor: pointer;

                    &.active {
                        font-weight: 700;
                        color: $gray_10;
                        border-bottom: 2px solid $danu_blue_60;
                    }

                    span {
                        pointer-events: none;
                    }
                }
            }
        }

        .code_source_container {
            padding: $space_24 0;
            width: 100%;

            .code_source_con {
                width: 100%;
                overflow-x: auto;

                pre.priview_code {
                    display: flex;
                    flex-direction: column;

                    &:focus {
                        outline: none;
                    }

                    .token_line {
                        display: flex;

                        .token {
                            @include body_01;
                            color: $gray_10;

                            &.tag {
                                color: $gray_30;
                            }

                            &.name {
                                color: $blue_40;
                            }

                            &.class {
                                color: $cyon_20;
                            }

                            &.class_name {
                                color: $orange_30;
                            }

                            &.pink {
                                color: $red_70;
                            }

                            &.class_list {
                                color: $yellow_20;
                            }
                        }
                    }
                }
            }
        }
    }
}

.image_container {
    width: 100%;
    margin-top: 40px;

    .image_con {
        width: 100%;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;

        .image_area {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 120px;

            .image_item {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:last-child {
                    margin-right: 0;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .disc_con {
        margin-top: 24px;

        .disc_style {
            
            @include body-02;
        }
    }
}

.do_donot_con {
    width: 100%;
    height: 100%;
    margin-top: 40px;

    .do_donot_area {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .do_donot_list {
            width: 100%;
            display: flex;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            li {
                margin-right: 16px;

                &:last-child {
                    margin-right: 0;
                }
            }

            .donot_item {
                border-top: 8px solid $red_50 !important;
            }

            .do_donot_item {
                width: 50%;
                background: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top: 8px solid $green_30;
                position: relative;
                flex-direction: column;
                padding: 60px 0;

                .available_con {
                    position: absolute;
                    top: 16px;
                    left: 16px;
                    width: 32px;
                    height: 32px;
                    border-radius: 999px;
                    background: $green_30;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .donot_con {
                    position: absolute;
                    top: 16px;
                    left: 16px;
                    width: 32px;
                    height: 32px;
                    border-radius: 999px;
                    background: $red_50;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                img {
                    width: 80%;
                    background-size: contain;
                }

                p {
                    margin-top: 20px;
                }
            }
        }
    }
}

.them_container {
    width: 100%;

    .them_con {
        width: 100%;
        display: flex;

        .them_area_dark {
            background: $gray_120;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            padding: 120px;

            img {
                width: 100%;
            }
        }

        .them_area_light {
            padding: 120px;
            width: 50%;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 100%;
            }
        }
    }
}