@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@font-face {
  src: url("../fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url("../fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: normal;
}
/* CSS Document */
/* HTML5 display-role reset for older browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  word-break: keep-all;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "IBMPlexSansKR-Regular";
  font-weight: 300;
  font-size: 10px !important;
}

@keyframes accordionOpen {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes accordionClose {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(120px);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translatex(420px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade_right {
  0% {
    opacity: 0;
    transform: translatex(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes change {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -118%, 0);
  }
  35% {
    transform: translate3d(0, -118%, 0);
  }
  50% {
    transform: translate3d(0, -233%, 0);
  }
  60% {
    transform: translate3d(0, -233%, 0);
  }
  75% {
    transform: translate3d(0, -118%, 0);
  }
  85% {
    transform: translate3d(0, -118%, 0);
  }
  95% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes colorPal {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(101%);
  }
  100% {
    transform: scaleX(101%);
  }
}
@keyframes colorNum {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani_opacity {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes background_color {
  0% {
    transform: scaleY(0.9);
  }
  100% {
    transform: none;
  }
}
@keyframes loading {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
@keyframes loading_spin {
  100% {
    transform: rotate(360deg);
  }
}
.before_load .loading {
  opacity: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #FFFFFF;
  opacity: 0;
  transition: 0.5s;
}
.loading .loading_circle {
  width: 54px;
  height: 54px;
  animation: loading_spin 3s infinite;
}
.loading .loading_circle circle {
  stroke: #0F6BFF;
  stroke-width: 4;
  stroke-dasharray: 157;
  stroke-dashoffset: -157;
  fill: none;
  animation: loading 1s infinite;
}

@font-face {
  src: url("../fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: normal;
}
.radio_button_wrapper_horizontal_dark, .radio_button_wrapper_horizontal {
  display: flex;
  margin-right: 16px;
  position: relative;
}
.radio_button_wrapper_horizontal_dark:last-child, .radio_button_wrapper_horizontal:last-child {
  margin-right: 0;
}

.radio_button_wrapper_vertical_dark, .radio_button_wrapper_vertical {
  display: flex;
  margin-bottom: 8px;
  position: relative;
}
.radio_button_wrapper_vertical_dark:last-child, .radio_button_wrapper_vertical:last-child {
  margin-bottom: 0;
}

.radio_button_wrapper_vertical_dark.with_error, .radio_button_wrapper_vertical.with_error, .radio_button_wrapper_horizontal_dark.with_error, .radio_button_wrapper_horizontal.with_error {
  width: 150px;
}
.radio_button_wrapper_vertical_dark.with_error input[type=radio]:checked + label .radio_button_appearance, .radio_button_wrapper_vertical.with_error input[type=radio]:checked + label .radio_button_appearance, .radio_button_wrapper_horizontal_dark.with_error input[type=radio]:checked + label .radio_button_appearance, .radio_button_wrapper_horizontal.with_error input[type=radio]:checked + label .radio_button_appearance {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_vertical_dark.with_error input[type=radio]:checked + label .radio_button_appearance::before, .radio_button_wrapper_vertical.with_error input[type=radio]:checked + label .radio_button_appearance::before, .radio_button_wrapper_horizontal_dark.with_error input[type=radio]:checked + label .radio_button_appearance::before, .radio_button_wrapper_horizontal.with_error input[type=radio]:checked + label .radio_button_appearance::before {
  background-color: #E02C10;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical_dark.with_error .radio_button_label .radio_button_appearance, .radio_button_wrapper_vertical.with_error .radio_button_label .radio_button_appearance, .radio_button_wrapper_horizontal_dark.with_error .radio_button_label .radio_button_appearance, .radio_button_wrapper_horizontal.with_error .radio_button_label .radio_button_appearance {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_vertical_dark.with_error .error_message, .radio_button_wrapper_vertical.with_error .error_message, .radio_button_wrapper_horizontal_dark.with_error .error_message, .radio_button_wrapper_horizontal.with_error .error_message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 22px;
}
.radio_button_wrapper_vertical_dark.with_error .error_message svg, .radio_button_wrapper_vertical.with_error .error_message svg, .radio_button_wrapper_horizontal_dark.with_error .error_message svg, .radio_button_wrapper_horizontal.with_error .error_message svg {
  margin-right: 8px;
  min-width: 18px;
  max-width: 18px;
}
.radio_button_wrapper_vertical_dark.with_error .error_message span, .radio_button_wrapper_vertical.with_error .error_message span, .radio_button_wrapper_horizontal_dark.with_error .error_message span, .radio_button_wrapper_horizontal.with_error .error_message span {
  color: #E02C10;
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
}

.radio_button_group_horizontal_dark, .radio_button_group_horizontal {
  align-items: center;
  border: 0;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  position: relative;
  vertical-align: baseline;
  padding: 0;
}

.radio_button_group_vertical_dark, .radio_button_group_vertical {
  align-items: flex-start;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  vertical-align: baseline;
  padding: 0;
}

.radio_button_group_horizontal .radio_group_label {
  display: inline-block;
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
  margin-bottom: 8px;
  vertical-align: baseline;
  color: #333333;
}

.radio_button_group_horizontal_dark .radio_group_label {
  display: inline-block;
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
  margin-bottom: 8px;
  vertical-align: baseline;
  color: #C9C9C9;
}

.radio_button_group_vertical .radio_group_label {
  display: inline-block;
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
  margin-bottom: 8px;
  vertical-align: baseline;
  color: #333333;
}

.radio_button_group_vertical_dark .radio_group_label {
  display: inline-block;
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
  margin-bottom: 8px;
  vertical-align: baseline;
  color: #C9C9C9;
}

.radio_button_wrapper_horizontal input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  visibility: inherit;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}
.radio_button_wrapper_horizontal input[type=radio]:focus-visible + label .radio_button_appearance {
  outline-offset: max(2px, 0.12em);
  outline: 1px solid #0F6BFF;
}
.radio_button_wrapper_horizontal input[type=radio]:checked + label .radio_button_appearance {
  border: 2px solid #0F6BFF;
}
.radio_button_wrapper_horizontal input[type=radio]:checked + label .radio_button_appearance::before {
  background-color: #0F6BFF;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_horizontal input[type=radio]:disabled + label .radio_button_appearance {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_horizontal input[type=radio]:disabled + label .radio_button_label_text {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_horizontal input[type=radio].read_only + label .radio_button_appearance {
  border: 2px solid #757575;
  cursor: auto;
}
.radio_button_wrapper_horizontal input[type=radio].read_only + label .radio_button_appearance::before {
  background-color: #545454;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_horizontal input[type=radio].error {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_horizontal input[type=radio].error:checked + label .radio_button_appearance {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_horizontal input[type=radio].error:checked + label .radio_button_appearance::before {
  background-color: #E02C10;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_horizontal .radio_button_label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.radio_button_wrapper_horizontal .radio_button_label .radio_button_appearance {
  background-color: transparent;
  border: 2px solid #545454;
  border-radius: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
}
.radio_button_wrapper_horizontal .radio_button_label .radio_button_label_text {
  font-size: 14px;
  color: #212121;
  margin-left: 8px;
}
.radio_button_wrapper_horizontal .radio_button_label .radio_button_label_text:disabled {
  opacity: 0.35;
}

.radio_button_wrapper_horizontal_dark input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  visibility: inherit;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}
.radio_button_wrapper_horizontal_dark input[type=radio]:focus-visible + label .radio_button_appearance {
  outline-offset: max(2px, 0.12em);
  outline: 1px solid white;
}
.radio_button_wrapper_horizontal_dark input[type=radio]:checked + label .radio_button_appearance {
  border: 2px solid #0F6BFF;
}
.radio_button_wrapper_horizontal_dark input[type=radio]:checked + label .radio_button_appearance::before {
  background-color: #0F6BFF;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_horizontal_dark input[type=radio]:disabled + label .radio_button_appearance {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_horizontal_dark input[type=radio]:disabled + label .radio_button_label_text {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_horizontal_dark input[type=radio].read_only + label .radio_button_appearance {
  border: 2px solid #888888;
  cursor: auto;
}
.radio_button_wrapper_horizontal_dark input[type=radio].read_only + label .radio_button_appearance::before {
  background-color: #B1B1B1;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_horizontal_dark input[type=radio].error + label .radio_button_appearance {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_horizontal_dark input[type=radio].error + label .radio_button_appearance::before {
  background-color: #E02C10;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_horizontal_dark .radio_button_label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.radio_button_wrapper_horizontal_dark .radio_button_label .radio_button_appearance {
  background-color: transparent;
  border: 2px solid #B1B1B1;
  border-radius: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
}
.radio_button_wrapper_horizontal_dark .radio_button_label .radio_button_label_text {
  font-size: 14px;
  color: #E2E2E2;
  margin-left: 8px;
}
.radio_button_wrapper_horizontal_dark .radio_button_label .radio_button_label_text:disabled {
  opacity: 0.35;
}

.radio_button_wrapper_vertical input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  visibility: inherit;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}
.radio_button_wrapper_vertical input[type=radio]:focus-visible + label .radio_button_appearance {
  outline-offset: max(2px, 0.12em);
  outline: 1px solid #0F6BFF;
}
.radio_button_wrapper_vertical input[type=radio]:checked + label .radio_button_appearance {
  border: 2px solid #0F6BFF;
}
.radio_button_wrapper_vertical input[type=radio]:checked + label .radio_button_appearance::before {
  background-color: #0F6BFF;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical input[type=radio]:disabled + label .radio_button_appearance {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_vertical input[type=radio]:disabled + label .radio_button_label_text {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_vertical input[type=radio].read_only + label .radio_button_appearance {
  border: 2px solid #757575;
  cursor: auto;
}
.radio_button_wrapper_vertical input[type=radio].read_only + label .radio_button_appearance::before {
  background-color: #545454;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical input[type=radio].error {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_vertical input[type=radio].error:checked + label .radio_button_appearance {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_vertical input[type=radio].error:checked + label .radio_button_appearance::before {
  background-color: #E02C10;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical .radio_button_label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.radio_button_wrapper_vertical .radio_button_label .radio_button_appearance {
  background-color: transparent;
  border: 2px solid #545454;
  border-radius: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
}
.radio_button_wrapper_vertical .radio_button_label .radio_button_label_text {
  font-size: 14px;
  color: #212121;
  margin-left: 8px;
}
.radio_button_wrapper_vertical .radio_button_label .radio_button_label_text:disabled {
  opacity: 0.35;
}

.radio_button_wrapper_vertical_dark input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  visibility: inherit;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}
.radio_button_wrapper_vertical_dark input[type=radio]:focus-visible + label .radio_button_appearance {
  outline-offset: max(2px, 0.12em);
  outline: 1px solid white;
}
.radio_button_wrapper_vertical_dark input[type=radio]:checked + label .radio_button_appearance {
  border: 2px solid #0F6BFF;
}
.radio_button_wrapper_vertical_dark input[type=radio]:checked + label .radio_button_appearance::before {
  background-color: #0F6BFF;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical_dark input[type=radio]:disabled + label .radio_button_appearance {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_vertical_dark input[type=radio]:disabled + label .radio_button_label_text {
  opacity: 0.35;
  cursor: auto;
}
.radio_button_wrapper_vertical_dark input[type=radio].read_only + label .radio_button_appearance {
  border: 2px solid #888888;
  cursor: auto;
}
.radio_button_wrapper_vertical_dark input[type=radio].read_only + label .radio_button_appearance::before {
  background-color: #B1B1B1;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical_dark input[type=radio].error + label .radio_button_appearance {
  border: 2px solid #E02C10;
}
.radio_button_wrapper_vertical_dark input[type=radio].error + label .radio_button_appearance::before {
  background-color: #E02C10;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  position: relative;
}
.radio_button_wrapper_vertical_dark .radio_button_label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.radio_button_wrapper_vertical_dark .radio_button_label .radio_button_appearance {
  background-color: transparent;
  border: 2px solid #B1B1B1;
  border-radius: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
}
.radio_button_wrapper_vertical_dark .radio_button_label .radio_button_label_text {
  font-size: 14px;
  color: #E2E2E2;
  margin-left: 8px;
}
.radio_button_wrapper_vertical_dark .radio_button_label .radio_button_label_text:disabled {
  opacity: 0.35;
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .scroll_show_container {
    padding: 0 0 0 320px !important;
  }
  .scroll_show_container .left_text_con {
    width: 50% !important;
  }
  .scroll_show_container .right_img_con {
    width: 50% !important;
  }
  .asis_tobe_container .asis_tobe_con {
    padding: 60px 60px 60px 320px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .normal_content_container {
    display: flex !important;
  }
  .scroll_show_container {
    display: none !important;
  }
  .asis_tobe_container .asis_tobe_con {
    padding: 60px 60px 60px 320px !important;
  }
  .asis_tobe_container .asis_tobe_con .span_asis {
    color: #B1B1B1;
    min-height: 120px !important;
  }
  .asis_tobe_container .asis_tobe_con .span_tobe {
    color: #EEEEEE;
    min-height: 120px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .normal_content_container {
    display: flex !important;
    width: 100%;
    height: 100%;
    padding-left: 0px !important;
  }
  .normal_content_container .content_section_con {
    display: flex;
    width: 100%;
  }
  .normal_content_container .content_section_con .content_section_area {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 60px;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item:last-child {
    margin-bottom: 0;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_img_con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    padding: 60px 40px;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_img_con img {
    width: 70%;
    background-size: contain;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_text_con {
    background: #212121;
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    padding: 60px 40px 60px 40px;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_text_con .intro_title {
    color: #EEEEEE;
    font-size: 36px;
    line-height: 4.4rem;
    font-weight: 300;
    margin-bottom: 28px;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_text_con .intro_text {
    color: #B1B1B1;
    font-size: 16px;
    line-height: 2.5rem;
  }
  .scroll_show_container {
    display: none !important;
  }
  .asis_tobe_container .asis_tobe_con {
    padding: 40px 40px 40px 40px !important;
  }
  .asis_tobe_container .asis_tobe_con .span_asis {
    color: #B1B1B1;
    min-height: 120px !important;
  }
  .asis_tobe_container .asis_tobe_con .span_tobe {
    color: #EEEEEE;
    min-height: 120px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .normal_content_container {
    display: flex !important;
    width: 100%;
    height: 100%;
    padding-left: 0px !important;
  }
  .normal_content_container .content_section_con {
    display: flex;
    width: 100%;
  }
  .normal_content_container .content_section_con .content_section_area {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 60px;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item:last-child {
    margin-bottom: 0;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_img_con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    padding: 60px 40px;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_img_con img {
    width: 70%;
    background-size: contain;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_text_con {
    background: #212121;
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    padding: 60px 40px 60px 40px;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_text_con .intro_title {
    color: #EEEEEE;
    font-size: 36px;
    line-height: 4.4rem;
    font-weight: 300;
    margin-bottom: 28px;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_text_con .intro_text {
    color: #B1B1B1;
    font-size: 16px;
    line-height: 2.5rem;
  }
  .scroll_show_container {
    display: none !important;
  }
  .asis_tobe_container .asis_tobe_con {
    padding: 40px 40px 40px 40px !important;
  }
  .asis_tobe_container .asis_tobe_con .span_asis {
    color: #B1B1B1;
    min-height: 160px !important;
  }
  .asis_tobe_container .asis_tobe_con .span_tobe {
    color: #EEEEEE;
    min-height: 160px !important;
  }
  .asis_tobe_container .asis_tobe_con .img_item {
    margin-bottom: 16px !important;
  }
  .asis_tobe_container .asis_tobe_con .img_item:last-child {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 767px) {
  .normal_content_container {
    display: flex !important;
    width: 100%;
    height: 100%;
    padding-left: 0px !important;
  }
  .normal_content_container .content_section_con {
    display: flex;
    width: 100%;
  }
  .normal_content_container .content_section_con .content_section_area {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 40px !important;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item:last-child {
    margin-bottom: 0;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_img_con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    padding: 24px 24px !important;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_img_con img {
    width: 100% !important;
    background-size: contain;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.3);
    border-radius: 4px !important;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_text_con {
    background: #212121;
    display: flex;
    width: 100% !important;
    flex-direction: column;
    justify-content: center;
    padding: 40px 24px 40px 24px !important;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_text_con .intro_title {
    color: #EEEEEE;
    font-size: 32px !important;
    line-height: 4.4rem;
    font-weight: 300;
    margin-bottom: 20px !important;
  }
  .normal_content_container .content_section_con .content_section_area .content_section_item .content_section_text_con .intro_text {
    color: #B1B1B1;
    font-size: 16px;
    line-height: 2.5rem;
  }
  .scroll_show_container {
    display: none !important;
  }
  .asis_tobe_container .asis_tobe_con {
    padding: 40px 24px 40px 24px !important;
  }
  .asis_tobe_container .asis_tobe_con .asis_tobe_area {
    flex-direction: column;
  }
  .asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item {
    width: 100% !important;
    padding: 16px !important;
    margin-right: 0 !important;
    margin-bottom: 16px !important;
  }
  .asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item:last-child {
    margin-bottom: 0 !important;
  }
  .asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item {
    width: 100% !important;
    padding: 16px !important;
    margin-right: 0 !important;
    margin-bottom: 16px !important;
  }
  .asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item:last-child {
    margin-bottom: 0 !important;
  }
  .asis_tobe_container .asis_tobe_con .span_asis {
    color: #B1B1B1;
    min-height: inherit !important;
  }
  .asis_tobe_container .asis_tobe_con .span_tobe {
    color: #EEEEEE;
    min-height: inherit !important;
  }
  .asis_tobe_container .asis_tobe_con .img_item {
    margin-bottom: 16px !important;
  }
  .asis_tobe_container .asis_tobe_con .img_item:last-child {
    margin-bottom: 0 !important;
  }
}
header {
  width: 100%;
  height: 48px;
  display: flex;
  z-index: 999;
  position: fixed;
  align-items: center;
  padding: 0 16px;
  background: white;
  border-bottom: 1px solid #E2E2E2;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0;
}
header .hd_pc {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
header .hd_pc .logo_title {
  display: flex;
  margin-right: 40px;
  justify-content: center;
  padding: 16px;
}
header .hd_pc .logo_title img {
  margin-right: 8px;
}
header .hd_pc ul {
  display: flex;
}
header .hd_pc ul li {
  margin-right: 32px;
  margin-top: 6px;
  height: 42px;
  display: flex;
  align-items: center;
  border-bottom: 4px solid #FFFFFF;
}
header .hd_pc ul li.active {
  border-bottom: 4px solid #0F6BFF;
  font-weight: 600;
}
header .hd_pc ul li:hover {
  font-weight: 600;
}
header .hd_pc ul li a {
  cursor: pointer;
  color: #212121;
  font-size: 16px;
}
header .hd_mo {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
header .hd_mo .logo_title {
  display: flex;
  margin-right: 40px;
  justify-content: center;
  padding: 16px 0;
}
header .hd_mo .logo_title img {
  margin-right: 8px;
}
header .hd_mo .hamburger_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
header .hd_mo .ham_cancel_btn {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.intro_main_container {
  width: 100%;
  min-width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 48px;
  position: relative;
  background: #212121;
}
.intro_main_container footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  background: #EEEEEE;
  color: #757575;
  border-top: 1px solid #E2E2E2;
  font-size: 12px;
  padding: 24px 0 24px 317px;
}

.normal_content_container {
  display: none;
  width: 100%;
  height: 100%;
  padding-left: 260px;
}
.normal_content_container .content_section_con {
  display: flex;
  width: 100%;
}
.normal_content_container .content_section_con .content_section_area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.normal_content_container .content_section_con .content_section_area .content_section_item {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 60px;
}
.normal_content_container .content_section_con .content_section_area .content_section_item:last-child {
  margin-bottom: 0;
}
.normal_content_container .content_section_con .content_section_area .content_section_item .content_section_img_con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  padding: 60px 40px;
}
.normal_content_container .content_section_con .content_section_area .content_section_item .content_section_img_con img {
  width: 70%;
  background-size: contain;
  box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.normal_content_container .content_section_con .content_section_area .content_section_item .content_section_text_con {
  background: #212121;
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  padding: 60px 40px 60px 40px;
}
.normal_content_container .content_section_con .content_section_area .content_section_item .content_section_text_con .intro_title {
  color: #EEEEEE;
  font-size: 36px;
  line-height: 4.4rem;
  font-weight: 300;
  margin-bottom: 28px;
}
.normal_content_container .content_section_con .content_section_area .content_section_item .content_section_text_con .intro_text {
  color: #B1B1B1;
  font-size: 16px;
  line-height: 2.5rem;
}

.scroll_show_container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 0 0 380px;
  background: #212121;
}
.scroll_show_container .left_text_con {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.scroll_show_container .left_text_con .left_text_area {
  background: #212121;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  justify-content: center;
  padding: 56px 0 8px 0;
}
.scroll_show_container .left_text_con .left_text_area .intro_title {
  color: #EEEEEE;
  font-size: 36px;
  line-height: 4.4rem;
  font-weight: 300;
  margin-bottom: 28px;
}
.scroll_show_container .left_text_con .left_text_area .intro_text {
  color: #B1B1B1;
  font-size: 16px;
  line-height: 2.5rem;
}
.scroll_show_container .right_img_con {
  position: sticky;
  top: 48px;
  height: 100vh;
  width: 60%;
  padding: 0 0 0 0;
}
.scroll_show_container .right_img_con .right_img_area {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #333333;
  display: flex;
  padding: 0px 0 0px 100px;
  align-items: center;
  justify-content: center;
  background-size: contain;
  opacity: 0;
  transition: opacity 1000ms cubic-bezier(0.2, 0, 0, 1);
}
.scroll_show_container .right_img_con .right_img_area.show {
  opacity: 1;
}
.scroll_show_container .right_img_con .right_img_area .right_img_item_con {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
  background-position: left center;
}
.scroll_show_container .right_img_con .right_img_area .right_img_item_con div {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-position: left top;
  border-radius: 20px 0 0 20px;
}
.scroll_show_container .right_img_con .right_img_area .right_img_item_con div.right_img_item_01 {
  background-image: url(../images/introduction_img_01.png);
}
.scroll_show_container .right_img_con .right_img_area .right_img_item_con div.right_img_item_02 {
  background-image: url(../images/introduction_img_02.png);
}
.scroll_show_container .right_img_con .right_img_area .right_img_item_con div.right_img_item_03 {
  background-image: url(../images/introduction_img_03.png);
}

.asis_tobe_container {
  width: 100%;
  display: flex;
}
.asis_tobe_container .asis_tobe_con {
  width: 100%;
  padding: 80px 116px 80px 380px;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area {
  width: 100%;
  display: flex;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item {
  background: #333333;
  border-top: 8px solid #444444;
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  width: 50%;
  padding: 24px;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item:last-child {
  margin-right: 0;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 16px;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item h4.title_asis {
  color: #B1B1B1;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item h4.title_tobe {
  color: #FFFFFF;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item span {
  font-size: 16px;
  line-height: 2.5rem;
  font-weight: 400;
  margin-bottom: 32px;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item span.span_asis {
  color: #B1B1B1;
  min-height: 80px;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item span.title_tobe {
  color: #EEEEEE;
  min-height: 80px;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item .img_area {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item .img_area .img_item {
  width: 100%;
  margin-bottom: 20px;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item .img_area .img_item:last-child {
  margin-bottom: 0;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .asis_item .img_area .img_item img {
  width: 100%;
  background-size: contain;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item {
  background: #333333;
  border-top: 8px solid #0F6BFF;
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  width: 50%;
  padding: 24px;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item:last-child {
  margin-right: 0;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 16px;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item h4.title_asis {
  color: #B1B1B1;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item h4.title_tobe {
  color: #FFFFFF;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item span {
  font-size: 16px;
  line-height: 2.5rem;
  font-weight: 400;
  margin-bottom: 32px;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item span.span_asis {
  color: #B1B1B1;
  min-height: 80px;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item span.span_tobe {
  color: #EEEEEE;
  min-height: 80px;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item .img_area {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item .img_area .img_item {
  width: 100%;
  margin-bottom: 20px;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item .img_area .img_item:last-child {
  margin-bottom: 0;
}
.asis_tobe_container .asis_tobe_con .asis_tobe_area .tobe_item .img_area .img_item img {
  width: 100%;
  background-size: contain;
}/*# sourceMappingURL=introduction.css.map */