@charset "utf-8";
/* CSS Document */

/* common */
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  word-break: keep-all;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


// font setting

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


// color system
// grayscale
$white: #FFFFFF;
$gray_0: #FAFAFA;
$gray_5: #EEEEEE;
$gray_10: #E2E2E2;
$gray_20: #C9C9C9;
$gray_30: #B1B1B1;
$gray_40: #9C9C9C;
$gray_50: #888888;
$gray_60: #757575;
$gray_70: #646464;
$gray_80: #545454;
$gray_90: #444444;
$gray_100: #333333;
$gray_110: #212121;
$gray_120: #0B0B0B;
$black: #000000;


// color scale
$danu_blue_60: #0F6BFF;
$danu_blue_30: #85B4FF;
$danu_blue_p: #0067BE;
$sys_green_p: #ADDD9B;
$sys_green_10: #B1F39B;

$red_5: #FDE9E8;
$red_10: #FBDAD5;
$red_20: #F9B8AE;
$red_30: #F5988A;
$red_40: #F47966;
$red_50: #F15037;
$red_60: #E02C10;
$red_70: #C4260E;
$red_80: #A21F0B;
$red_90: #851A0A;
$red_100: #641307;
$red_110: #460F07;
$red_120: #1C0603;

$orange_5: #FBECDA;
$orange_10: #F9DEBE;
$orange_20: #FABE7B;
$orange_30: #F69D37;
$orange_40: #EA820B;
$orange_50: #CD720A;
$orange_60: #AF6108;
$orange_70: #975407;
$orange_80: #7F4606;
$orange_90: #663905;
$orange_100: #4E2B04;
$orange_110: #341E04;
$orange_120: #120B02;

$yellow_5: #FFEFAD;
$yellow_10: #FFE16B;
$yellow_20: #F5C400;
$yellow_30: #DBAF00;
$yellow_40: #BD9700;
$yellow_50: #A88700;
$yellow_60: #8F7200;
$yellow_70: #7A6200;
$yellow_80: #665200;
$yellow_90: #524100;
$yellow_100: #3D3100;
$yellow_110: #292100;
$yellow_120: #140F00;

$green_5: #D1F8C4;
$green_10: #B1F39B;
$green_20: #4DE619;
$green_30: #43CA16;
$green_40: #3CB314;
$green_50: #349C11;
$green_60: #2C850F;
$green_70: #26730D;
$green_80: #20600B;
$green_90: #1C4D0A;
$green_100: #163B07;
$green_110: #0C2504;
$green_120: #050D02;

$cyon_5: #D5F4FB;
$cyon_10: #B4EBF9;
$cyon_20: #6ED8F2;
$cyon_30: #14C0EB;
$cyon_40: #12A9CE;
$cyon_50: #1096B7;
$cyon_60: #0D7F9C;
$cyon_70: #0A6C85;
$cyon_80: #095C71;
$cyon_90: #064B5B;
$cyon_100: #053842;
$cyon_110: #04262F;
$cyon_120: #020F12;

$blue_5: #E5EEFF;
$blue_10: #D1E0FF;
$blue_20: #A8CAFF;
$blue_30: #85B4FF;
$blue_40: #5C9AFF;
$blue_50: #3884FF;
$blue_60: #0F6BFF;
$blue_70: #0058E6;
$blue_80: #004AC2;
$blue_90: #003D9E;
$blue_100: #002F7A;
$blue_110: #001F52;
$blue_120: #000C1F;

$purple_120: #1B0420;
$purple_110: #360656;
$purple_100: #4E067F;
$purple_90: #6609A5;
$purple_80: #7E0BCB;
$purple_70: #930CED;
$purple_60: #A938F5;
$purple_50: #B85AF6;
$purple_40: #C77BF9;
$purple_30: #D39AF9;
$purple_20: #DFB9F9;
$purple_10: #EDDAFB;
$purple_5: #F4E8FD;



// button
$button_default: #444444;
$button_hover: #545454;
$button_light: #444444;

// text
$text_high: #ffffff;
$text_medium: #e2e2e2;
$text_low: #b1b1b1;

// color palette
$primary: #5C9AFF;
$primary_variant: #5C9AFF;
$primary_hover: #85B4FF;
$secondary: #9CD6AE;
$secondary_variant: #52BA77;
$third: #F47966;
$status_1: #77daff;
$status_2: #99f871;
$status_3: #ffca29;
$status_4: #ff5c5c;
$status_5: #b091fe;

// color palette : marker
$map_blue: #0F6BFF;
$map_yellow: #F69D37;
$map_green: #00c853;
$map_red: #DD2C00;
$map_purple: #7c4dff;
$map_brown: #9b7556;
$map_mustard: #dab226;
$map_navy: #262dda;
$map_magenta: #ff00c7;

// color system : yellow
$yellow5: #ffefad;
$yellow10: #ffe16b;
$yellow20: #f5c400;

// font-size
$font_size: 16px;

// px size
$px28: 1.75rem;
$px26: 1.625rem;
$px24: 1.5rem;
$px22: 1.375rem;
$px20: 1.25rem;
$px18: 1.125rem;
$px16: 1rem;
$px14: 0.875rem;
$px13: 0.8125rem;
$px12: 0.75rem;
$px10: 0.625rem;
$px8: 0.5rem;
$px6: 0.375rem;
$px4: 0.25rem;
$px2: 0.125rem;
$px1: 0.0625rem;

//layout
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'IBMPlexSansKR-Regular';
  font-weight: 300;
  font-size: $font_size;
}

/* input type="text" */
input {
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  margin: 0;
  padding: 0 $px12;
  color: $text_medium;
  font-size: $px14;
  font-weight: 300;
  border: $px1 solid $gray_50;
  border-radius: $px4;
  background: transparent;
  font-family: 'IBMPlexSansKR-Regular', sans-serif;

  &:focus {
    outline: none;
  }
}

input.input_search {
  padding: 0 2.625rem 0 $px12;
  background: url('/anyang-tax-web/images/default/icon_search.svg') right 12px center no-repeat transparent;
  background-size: $px20 $px20;
}

textarea {
  resize: none;
  //box-sizing: none;
  width: 100%;
  height: 6.75rem;
  margin: 0;
  padding: $px6 $px12;
  color: $text_medium;
  font-size: $px14;
  font-weight: 300;
  border: $px1 solid $gray_50;
  border-radius: $px4;
  background: transparent;
  font-family: 'IBMPlexSansKR-Regular', sans-serif;
}

/* select */
select {
  width: 60%;
  height: 34px;
  margin: 0px;
  padding: 0px 40px 0px 8px;
  color: $text_medium;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid $gray_50;
  background: transparent;
  border-radius: 4px;
  font-family: 'Noto Sans', sans-serif;
  background: url('/anyang-tax-web/images/default/arrow_open.svg') no-repeat 90% 56% !important;
  background-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

select option {
  background: $gray_110;
}



// header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  min-height: 3.75rem;
  background: $white;
  border-bottom: 1px solid $gray_10;
  position: sticky;

  h1 {
    display: flex;
    padding: 0 1rem;
    color: $text_high;
    font-size: $px20;
    font-weight: 600;

    img {
      padding: 0 $px12 0 0;
    }
  }

  .gnm {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 53.75rem;
    height: 100%;
    color: $text_medium;

    li {
      position: relative;
      flex: 1;
      height: 100%;
      border-bottom: $px4 solid $gray_10;
      cursor: pointer;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: $text_medium;
        font: {
          size: $px18;
          weight: 300;
        }
      }

      .gnm_sub {
        z-index: 10;
        position: absolute;
        top: 3.75rem;
        overflow: hidden;
        background: $gray_0;
        border-bottom-left-radius: $px4;
        border-bottom-right-radius: $px4;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 10);
        display: none;
        flex-direction: column;
        width: 100%;

        li {
          margin: 0;
          padding: 0;
          height: 3.75rem;
          display: flex;
          align-items: center;
          border: 0;

          a {
            height: 2.875rem;
            margin: 0;
            color: $text_medium;
            font: {
              size: $px18;
              weight: 300;
            }
            border: none;

            &:hover {
              color: $primary;
              font-weight: 600;
              border: none;
            }
          }
        }
      }
      &:hover{
        border-bottom: $px4 solid $primary;
        transition: 0.2s;
        a{
          font-weight: 600;
          color: $primary;
        }
      }
      &:active, &.active{
        border-bottom: $px4 solid $primary;
        transition: 0.2s;
        a{
          font-weight: 600;
          color: $primary;
        }
      }
    }
  }

  .util {
    display: flex;
    height: 100%;
    color: $text_medium;

    li {
      display: flex;
      justify-content: center;
      grid-gap: $px8;
      width: 7.5rem;
      border-left: $px1 solid $gray_10;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: $px4;
        color: $text_medium;
        font: {
          size: $px16;
          weight: 300;
        }
        cursor: pointer;
      }
    }
  }
}


// input : checkbox
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: $text_medium;
  line-height: $px24;
  font-size: $px14;
  cursor: pointer;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: $px20;
  height: $px20;
  min-width: $px20;
  min-height: $px20;
  max-width: $px20;
  max-height: $px20;
  margin: 0 0 0 0 !important;
  vertical-align: middle;
  background: url('/anyang-tax-web/images/default/checkbox_defalt.svg') center center no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

input[type="checkbox"]:checked + label span {
  background: url('/anyang-tax-web/images/default/checkbox_active.svg') center center no-repeat;
  background-size: 100% 100%;
}

// input : radio
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: flex;
  align-items: center;
  grid-gap: $px4;
  padding: 0;
  line-height: $px24;
  color: $text_medium;
  font-size: $px14;
  cursor: pointer;
}

input[type="radio"] + label span {
  display: inline-block;
  width: $px20;
  height: $px20;
  min-width: $px20;
  min-height: $px20;
  max-width: $px20;
  max-height: $px20;
  margin: $px2 0 0 0;
  font-size: 0;
  vertical-align: middle;
  background: url('/anyang-tax-web/images/default/radio_default.svg') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

input[type="radio"]:checked + label span {
  background: url('/anyang-tax-web/images/default/radio_active.svg') no-repeat;
  background-size: 100% 100%;
}


// accodion
.side_menu_wrapper {
  // transform: none;
  position: fixed;
  top: 0;
  bottom: 0;
  transition: transform .15s cubic-bezier(.2,.2,.38,.9),top .11s;
  width: 260px;
  height: 100%;
  z-index: 998;
  color: $gray_110;
  overflow: hidden;

  nav {
      background: $gray_0;
      border-right: 1px solid $gray_10;
      position: fixed;
      overflow: auto;

      &.left_side {
          display: flex;
          flex-direction: column;
          top: 48px;
          height: 100%;
          width: 260px;
          padding-bottom: 50px;

          ul.list_con {
              width: 100%;
              padding: 16px 0;

              .acco_active {
                  background: $gray_5 !important;
                  color: $danu_blue_60 !important;
                  border-left: 6px solid $danu_blue_60;
                  font-weight: 600 !important;
              }

              .one_menu {
                  cursor: pointer;
                  height: 32px;
                  width: 100%;
                  font-size: 14px;
                  text-align: left;
                  color: $gray_70;
                  font-weight: 600;
                  display: flex;
                  justify-content: space-between;
                  margin: 4px 0 4px 0 !important;
                  align-items: center;

                  &:hover {
                      background: $gray_5;
                      color: $gray_110;
                  }

                  span {
                      pointer-events: none;
                  }

                  svg {
                      pointer-events: none;
                  }

                  a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 0 16px;
                  }
              }

              .side_submenu {
                  cursor: pointer;
                  height: 32px;
                  width: 100%;
                  font-size: 14px;
                  text-align: left;
                  color: $gray_70;
                  font-weight: 600;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  padding: 0 16px !important;
                  margin: 4px 0 4px 0 !important;

                  &:hover {
                      background: $gray_5;
                      color: $gray_110;
                  }

                  span {
                      pointer-events: none;
                  }

                  svg {
                      pointer-events: none;
                  }
              }

              li.list_con_item {
                  width: 100%;
                  height: inherit;
                  animation: accordionOpen 0.2s ease-in-out;

                  button {
                      background: none;
                      border: none;
                      padding: 0;
                      margin: 0;

                      &:hover {
                          background-color: $gray_5;
                          color: $gray_110;
                      }

                      &.active {
                          svg {
                              transform: rotate(-180deg);
                          }
                      }

                  }

                  ul {
                      width: 100%;
                      padding: 0 0 16px 0;
                      border-bottom: 1px solid $gray_10;
                      margin-bottom: 16px;
                      display: none;
                      // animation: accordionOpen 0.2s ease-in-out;

                      li {
                          cursor: pointer;
                          height: inherit;
                          width: 100%;
                          font-size: 14px;

                          &:hover {
                              background: $gray_5;
                              color: $gray_110;
                          }

                          a {
                              cursor: pointer;
                              padding: 8px 16px;
                              display: flex;
                              align-items: center;
                          }
                      }
                  }
              }
          }
      }

  }
}

.side_menu_wrapper_mo {
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  bottom: 0;
  transition: transform .15s cubic-bezier(.2,.2,.38,.9),top .11s;
  width: 100%;
  height: 100%;
  z-index: 998;
  color: $gray_110;
  overflow: hidden;

  nav {
      background: $gray_0;
      position: fixed;
      overflow: auto;

      &.left_side {
          display: flex;
          flex-direction: column;
          top: 48px;
          height: 100%;
          width: 100%;

          .home_con {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 16px 16px 0 16px;

            .home_item {
              color: $gray_110;
              height: 48px;
              font-size: 16px;
              justify-content: center;
              display: flex;
              width: 50%;
              // border-bottom: 1px solid $gray_10;
              padding-bottom: 16px;

              &.active {
                border-bottom: 4px solid $danu_blue_60;
                font-weight: 600;
              }

              a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                span {
                  font-size: 18px;
                }
              }
            }
          }

          ul.list_con {
              width: 100%;
              padding: 16px 0;
              padding-bottom: 60px;

              .one_menu {
                  cursor: pointer;
                  height: 48px;
                  width: 100%;
                  font-size: 16px;
                  text-align: left;
                  color: $gray_70;
                  font-weight: 600;
                  display: flex;
                  justify-content: space-between;
                  margin: 4px 0 4px 0 !important;
                  align-items: center;

                  a {
                    padding: 0 16px !important;
                    width: 100%;
                    display: flex;
                    align-items: center;
                  }

                  &:hover {
                      background: $gray_5;
                      color: $gray_110;
                  }

                  span {
                      pointer-events: none;
                  }

                  svg {
                      pointer-events: none;
                  }
              }

              .side_submenu {
                  cursor: pointer;
                  height: 48px;
                  width: 100%;
                  font-size: 16px;
                  text-align: left;
                  color: $gray_70;
                  font-weight: 600;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  padding: 0 16px !important;
                  margin: 4px 0 4px 0 !important;

                  &:hover {
                      background: $gray_5;
                      color: $gray_110;
                  }

                  span {
                      pointer-events: none;
                  }

                  svg {
                      pointer-events: none;
                  }
              }

              li.list_con_item {
                  width: 100%;
                  height: inherit;

                  button {
                      background: none;
                      border: none;
                      padding: 0;
                      margin: 0;

                      &:hover {
                          background-color: $gray_5;
                          color: $gray_110;
                      }

                      &.active {
                          svg {
                              transform: rotate(-180deg);
                          }
                      }

                  }

                  ul {
                      width: 100%;
                      padding: 0 0 16px 0;
                      border-bottom: 1px solid $gray_10;
                      margin-bottom: 16px;
                      display: none;
                      animation: accordionOpen 0.2s ease-in-out;

                      li {
                          cursor: pointer;
                          height: inherit;
                          width: 100%;
                          font-size: 16px;

                          &:hover {
                              background: $gray_5;
                              color: $gray_110;
                          }

                          a {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            padding: 20px 16px;
                            cursor: pointer;
                          }
                      }
                  }
              }
          }
      }

  }
}



// animation

@keyframes accordionOpen {
  0% {
      opacity: 0;
      transform:translateY(-20px);
  }

  100%{
      opacity: 1;
      transform: none;
  }
}

@keyframes accordionClose {
  0% {
      transform: none;
  }

  100%{
      transform:translateY(120px);
  }
}

@keyframes fadeRight {
  0% {
      opacity: 0;
      transform:translatex(420px);
  }

  100%{
      opacity: 1;
      transform: none;
  }
}

@keyframes fade_right {
  0% {
      opacity: 0;
      transform:translatex(20px);
  }

  100%{
      opacity: 1;
      transform: none;
  }
}

@keyframes change {

  0% {
      transform: translate3d(0,0,0);
  }

  10% {
      transform: translate3d(0,0,0);
  }

  25% {
      transform: translate3d(0,-118%,0);
  }

  35% {
      transform: translate3d(0,-118%,0);
  }

  50% {
      transform: translate3d(0,-233%,0);
  }

  60% {
      transform: translate3d(0,-233%,0);
  }

  75% {
      transform: translate3d(0,-118%,0);
  }

  85% {
      transform: translate3d(0,-118%,0);
  }

  95% {
      transform: translate3d(0,0,0);
  }

  100% {
      transform: translate3d(0,0,0);
  }
}

@keyframes colorPal {
  0% {
      transform: scaleX(0);
  }

  50% {
      transform: scaleX(101%);
  }

  100% {
      transform: scaleX(101%);
  }
}

@keyframes colorNum {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes ani_opacity {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes background_color {
  0% {
    transform: scaleY(0.9);
  }

  100% {
    // transform: translateY(20px);
    transform: none;
  }
}

.gototop {
  width: 52px;
  height: 52px;
  background: rgba($color: $gray_120, $alpha: 0.7);
  border: none;
  border-radius: 999px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 997;

  &.show {
    opacity: 1;
  }

  svg {
    
    path {
      fill: white;
    }
  }
}

@mixin soft-shadow-2 {
  box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 0.16);
}

@mixin hard-shadow-2 {
  box-shadow: 0px 2px 3px rgba($color: #000000, $alpha: 0.32);
}

@mixin mixed-shadow-2 {
  box-shadow: 0px 2px 8px rgba($color: #000000, $alpha: 0.32);
}

@mixin soft-shadow-4 {
  box-shadow: 0px 0px 16px rgba($color: #000000, $alpha: 0.16);
}

@mixin hard-shadow-4 {
  box-shadow: 0px 4px 6px rgba($color: #000000, $alpha: 0.32);
}

@mixin mixed-shadow-4 {
  box-shadow: 0px 4px 16px rgba($color: #000000, $alpha: 0.32);
}

@mixin soft-shadow-8 {
  box-shadow: 0px 0px 32px rgba($color: #000000, $alpha: 0.16);
}

@mixin hard-shadow-8 {
  box-shadow: 0px 8px 12px rgba($color: #000000, $alpha: 0.32);
}

@mixin mixed-shadow-8 {
  box-shadow: 0px 8px 32px rgba($color: #000000, $alpha: 0.32);
}

@mixin soft-shadow-12 {
  box-shadow: 0px 0px 48px rgba($color: #000000, $alpha: 0.16);
}

@mixin hard-shadow-12 {
  box-shadow: 0px 12px 18px rgba($color: #000000, $alpha: 0.32);
}

@mixin mixed-shadow-12 {
  box-shadow: 0px 12px 48px rgba($color: #000000, $alpha: 0.32);
}

@mixin soft-shadow-16 {
  box-shadow: 0px 0px 64px rgba($color: #000000, $alpha: 0.16);
}

@mixin hard-shadow-16 {
  box-shadow: 0px 16px 24px rgba($color: #000000, $alpha: 0.32);
}

@mixin mixed-shadow-16 {
  box-shadow: 0px 16px 64px rgba($color: #000000, $alpha: 0.32);
}

@mixin soft-shadow-24 {
  box-shadow: 0px 0px 96px rgba($color: #000000, $alpha: 0.16);
}

@mixin hard-shadow-24 {
  box-shadow: 0px 24px 36px rgba($color: #000000, $alpha: 0.32);
}

@mixin mixed-shadow-24 {
  box-shadow: 0px 24px 96px rgba($color: #000000, $alpha: 0.32);
}


