@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@font-face {
  src: url("../fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: normal;
}
/* CSS Document */
/* HTML5 display-role reset for older browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  word-break: keep-all;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "IBMPlexSansKR-Regular";
  font-weight: 300;
  font-size: 10px !important;
}

@keyframes accordionOpen {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes accordionClose {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(120px);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translatex(420px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade_right {
  0% {
    opacity: 0;
    transform: translatex(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes change {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -118%, 0);
  }
  35% {
    transform: translate3d(0, -118%, 0);
  }
  50% {
    transform: translate3d(0, -233%, 0);
  }
  60% {
    transform: translate3d(0, -233%, 0);
  }
  75% {
    transform: translate3d(0, -118%, 0);
  }
  85% {
    transform: translate3d(0, -118%, 0);
  }
  95% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes colorPal {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(101%);
  }
  100% {
    transform: scaleX(101%);
  }
}
@keyframes colorNum {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani_opacity {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes background_color {
  0% {
    transform: scaleY(0.9);
  }
  100% {
    transform: none;
  }
}
@keyframes loading {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
@keyframes loading_spin {
  100% {
    transform: rotate(360deg);
  }
}
.before_load .loading {
  opacity: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #FFFFFF;
  opacity: 0;
  transition: 0.5s;
}
.loading .loading_circle {
  width: 54px;
  height: 54px;
  animation: loading_spin 3s infinite;
}
.loading .loading_circle circle {
  stroke: #0F6BFF;
  stroke-width: 4;
  stroke-dasharray: 157;
  stroke-dashoffset: -157;
  fill: none;
  animation: loading 1s infinite;
}

@font-face {
  src: url("../fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("truetype");
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: normal;
}
.text_input_group {
  display: flex;
}
.text_input_group.horizontal {
  flex-direction: row;
}
.text_input_group.horizontal .text_input_label_wrapper {
  height: 36px;
  margin-right: 8px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.text_input_group.vertical {
  flex-direction: column;
}
.text_input_group.vertical .text_input_label_wrapper {
  margin-right: 0;
  margin-bottom: 8px;
}

.text_input_label_wrapper .text_input_group_label {
  font-family: "IBM Plex Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.016rem;
}
.text_input_label_wrapper .text_input_group_label.light {
  color: #212121;
}
.text_input_label_wrapper .text_input_group_label.dark {
  color: #E2E2E2;
}
.text_input_label_wrapper .text_input_group_label.disabled {
  opacity: 0.35;
}

.text_input_field_group {
  display: flex;
  flex-direction: column;
}
.text_input_field_group .text_input_field_wrapper {
  margin-bottom: 8px;
}
.text_input_field_group .text_input_field_wrapper .text_input_field {
  border-radius: 4px;
  font-family: "IBM Plex Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.016rem;
  width: 100%;
  padding: 7px 12px;
  min-width: 200px;
  background: transparent;
}
.text_input_field_group .text_input_field_wrapper .text_input_field.light {
  border: 1px solid #545454;
  color: #212121;
}
.text_input_field_group .text_input_field_wrapper .text_input_field.light::-moz-placeholder {
  color: #888888;
}
.text_input_field_group .text_input_field_wrapper .text_input_field.light::placeholder {
  color: #888888;
}
.text_input_field_group .text_input_field_wrapper .text_input_field.light:focus {
  outline: none;
  border: 1px solid #0F6BFF;
}
.text_input_field_group .text_input_field_wrapper .text_input_field.light.error {
  border: 1px solid #E02C10;
  color: #E02C10;
  background: url(../images/error_sm.svg) 93% 50% no-repeat;
}
.text_input_field_group .text_input_field_wrapper .text_input_field.light.read_only {
  border: 1px solid #888888;
  color: #212121;
}
.text_input_field_group .text_input_field_wrapper .text_input_field.dark {
  border: 1px solid #B1B1B1;
  color: #E2E2E2;
}
.text_input_field_group .text_input_field_wrapper .text_input_field.dark::-moz-placeholder {
  color: #888888;
}
.text_input_field_group .text_input_field_wrapper .text_input_field.dark::placeholder {
  color: #888888;
}
.text_input_field_group .text_input_field_wrapper .text_input_field.dark:focus {
  outline: none;
  border: 1px solid #FFFFFF;
}
.text_input_field_group .text_input_field_wrapper .text_input_field.dark.error {
  border: 1px solid #E02C10;
  color: #E02C10;
  background: url(../images/error_sm.svg) 93% 50% no-repeat;
}
.text_input_field_group .text_input_field_wrapper .text_input_field.dark.read_only {
  border: 1px solid #888888;
  color: #E2E2E2;
}
.text_input_field_group .text_input_field_wrapper .text_input_field:disabled {
  opacity: 0.35;
}

.helper_text {
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
}
.helper_text.light {
  color: #212121;
}
.helper_text.dark {
  color: #E2E2E2;
}
.helper_text.error {
  color: #E02C10;
}
.helper_text.disabled {
  opacity: 0.35;
}/*# sourceMappingURL=textInput.css.map */