@charset "UTF-8";

// font setting
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
  src: url('../fonts/IBMPlexSans-Light.ttf') format('truetype');
  font: {
    family: 'IBM Plex Sans';
    weight: 300;
    style: normal;
  }
}

@font-face {
  src: url(../fonts/IBMPlexSans-Regular.ttf) format('truetype');
  font: {
    family: 'IBM Plex Sans';
    weight: 400;
    style: normal;
  }
}

@font-face {
  src: url(../fonts/IBMPlexSans-Bold.ttf) format('truetype');
  font: {
    family: 'IBM Plex Sans';
    weight: 700;
    style: normal;
  }
}

// typography token

//heading-compact
@mixin heading_compact_01 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.4rem;
    weight: 700;
  }
  line-height: 1.8rem;
  letter-spacing: 0.016rem;
}

@mixin heading_compact_02 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.6rem;
    weight: 700;
  }
  line-height: 2.2rem;
  letter-spacing: 0;
}

@mixin heading_compact_03 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.8rem;
    weight: 700;
  }
  line-height: 2.6rem;
  letter-spacing: 0;
}

// heading
@mixin heading_01 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.4rem;
    weight: 700;
  }
  line-height: 2rem;
  letter-spacing: 0.016rem;
}

@mixin heading_02 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.6rem;
    weight: 700;
  }
  line-height: 2.4rem;
  letter-spacing: 0;
}

@mixin heading_03 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.8rem;
    weight: 700;
  }
  line-height: 2.8rem;
  letter-spacing: 0;
}

@mixin heading_04 {
  font: {
    family: 'IBM Plex Sans';
    size: 2rem;
    weight: 400;
  }
  line-height: 2.8rem;
  letter-spacing: 0;
}

@mixin heading_05 {
  font: {
    family: 'IBM Plex Sans';
    size: 2.4rem;
    weight: 400;
  }
  line-height: 3.2rem;
  letter-spacing: 0;
}

@mixin heading_06 {
  font: {
    family: 'IBM Plex Sans';
    size: 2.8rem;
    weight: 400;
  }
  line-height: 3.6rem;
  letter-spacing: 0;
}

@mixin heading_07 {
  font: {
    family: 'IBM Plex Sans';
    size: 3.2rem;
    weight: 300;
  }
  line-height: 4rem;
  letter-spacing: 0;
}

@mixin heading_08 {
  font: {
    family: 'IBM Plex Sans';
    size: 3.6rem;
    weight: 300;
  }
  line-height: 4.4rem;
  letter-spacing: 0;
}

@mixin heading_09 {
  font: {
    family: 'IBM Plex Sans';
    size: 4.8rem;
    weight: 300;
  }
  line-height: 5.8rem;
  letter-spacing: 0;
}

@mixin heading_10 {
  font: {
    family: 'IBM Plex Sans';
    size: 6rem;
    weight: 300;
  }
  line-height: 7.2rem;
  letter-spacing: 0;
}

//body-compact
@mixin body-compact_01 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.4rem;
    weight: 400;
  }
  line-height: 1.8rem;
  letter-spacing: 0.016rem;
}

@mixin body-compact_02 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.6rem;
    weight: 400;
  }
  line-height: 2.2rem;
  letter-spacing: 0;
}

@mixin body-compact_03 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.8rem;
    weight: 400;
  }
  line-height: 2.6rem;
  letter-spacing: 0;
}

// body
@mixin body_01 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.4rem;
    weight: 400;
  }
  line-height: 2rem;
  letter-spacing: 0.016rem;
}

@mixin body_02 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.6rem;
    weight: 400;
  }
  line-height: 2.4rem;
  letter-spacing: 0;
}

@mixin body_03 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.8rem;
    weight: 400;
  }
  line-height: 2.8rem;
  letter-spacing: 0;
}

// utility
@mixin code_01 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.2rem;
    weight: 400;
  }
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
}

@mixin code_02 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.4rem;
    weight: 400;
  }
  line-height: 2rem;
  letter-spacing: 0.032rem;
}

@mixin label_01 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.2rem;
    weight: 400;
  }
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
}

@mixin label_02 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.4rem;
    weight: 400;
  }
  line-height: 1.8rem;
  letter-spacing: 0.016rem;
}

@mixin helper_text_01 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.2rem;
    weight: 400;
  }
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
}

@mixin helper_text_02 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.4rem;
    weight: 400;
  }
  line-height: 1.8rem;
  letter-spacing: 0.016rem;
}

@mixin legal_01 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.2rem;
    weight: 400;
  }
  line-height: 1.6rem;
  letter-spacing: 0.032rem;
}

@mixin legal_02 {
  font: {
    family: 'IBM Plex Sans';
    size: 1.4rem;
    weight: 400;
  }
  line-height: 1.8rem;
  letter-spacing: 0.016rem;
}
